run_test "blacklist-blocks-liquidation" "blacklist_blocks_liquidation_vulnerable.sol" "blacklist-blocks-liquidation"
run_clean_test "blacklist-blocks-liquidation" "blacklist_blocks_liquidation_clean.sol" "blacklist-blocks-liquidation (clean)"
