run_test "exchangerateinflation" "exchangerateinflation_vulnerable.sol" "exchangerateinflation"
run_clean_test "exchangerateinflation" "exchangerateinflation_clean.sol" "exchangerateinflation (clean)"
