run_test "partial-liquidation-collateral-accounting" "partial_liquidation_collateral_accounting_vulnerable.sol" "partial-liquidation-collateral-accounting"
run_clean_test "partial-liquidation-collateral-accounting" "partial_liquidation_collateral_accounting_clean.sol" "partial-liquidation-collateral-accounting (clean)"
