run_test "unsigned-feepips-allows-relayer-fee-substitution" "unsigned_feepips_allows_relayer_fee_substitution_vulnerable.sol" "unsigned-feepips-allows-relayer-fee-substitution"
run_clean_test "unsigned-feepips-allows-relayer-fee-substitution" "unsigned_feepips_allows_relayer_fee_substitution_clean.sol" "unsigned-feepips-allows-relayer-fee-substitution (clean)"
