run_test "vault-inflation-last-withdrawer" "vault_inflation_last_withdrawer_vulnerable.sol" "vault-inflation-last-withdrawer"
run_clean_test "vault-inflation-last-withdrawer" "vault_inflation_last_withdrawer_clean.sol" "vault-inflation-last-withdrawer (clean)"
