run_test "erc1155-receiver-missing-supportsinterface" "erc1155_receiver_missing_supportsinterface_vulnerable.sol" "erc1155-receiver-missing-supportsinterface"
run_clean_test "erc1155-receiver-missing-supportsinterface" "erc1155_receiver_missing_supportsinterface_clean.sol" "erc1155-receiver-missing-supportsinterface (clean)"
