run_test "a-borrower-can-list-their-collateral-on-seaport-and-receive-almo" "a_borrower_can_list_their_collateral_on_seaport_and_receive_almo_vulnerable.sol" "a-borrower-can-list-their-collateral-on-seaport-and-receive-almo"
run_clean_test "a-borrower-can-list-their-collateral-on-seaport-and-receive-almo" "a_borrower_can_list_their_collateral_on_seaport_and_receive_almo_clean.sol" "a-borrower-can-list-their-collateral-on-seaport-and-receive-almo (clean)"
