run_test "a-broken-hook-can-block-user-funds" "a_broken_hook_can_block_user_funds_vulnerable.sol" "a-broken-hook-can-block-user-funds"
run_clean_test "a-broken-hook-can-block-user-funds" "a_broken_hook_can_block_user_funds_clean.sol" "a-broken-hook-can-block-user-funds (clean)"
