run_test "a-dark-age-can-end-prematurely" "a_dark_age_can_end_prematurely_vulnerable.sol" "a-dark-age-can-end-prematurely"
run_clean_test "a-dark-age-can-end-prematurely" "a_dark_age_can_end_prematurely_clean.sol" "a-dark-age-can-end-prematurely (clean)"
