run_test "a-denial-of-ervice-attack-can-obstruct-flop-auctions" "a_denial_of_ervice_attack_can_obstruct_flop_auctions_vulnerable.sol" "a-denial-of-ervice-attack-can-obstruct-flop-auctions"
run_clean_test "a-denial-of-ervice-attack-can-obstruct-flop-auctions" "a_denial_of_ervice_attack_can_obstruct_flop_auctions_clean.sol" "a-denial-of-ervice-attack-can-obstruct-flop-auctions (clean)"
