run_test "a-dos-attack-can-prevent-teleports" "a_dos_attack_can_prevent_teleports_vulnerable.sol" "a-dos-attack-can-prevent-teleports"
run_clean_test "a-dos-attack-can-prevent-teleports" "a_dos_attack_can_prevent_teleports_clean.sol" "a-dos-attack-can-prevent-teleports (clean)"
