run_test "a-flashloan-will-be-broken-if-the-usdt-fee-is-more-than-zero" "a_flashloan_will_be_broken_if_the_usdt_fee_is_more_than_zero_vulnerable.sol" "a-flashloan-will-be-broken-if-the-usdt-fee-is-more-than-zero"
run_clean_test "a-flashloan-will-be-broken-if-the-usdt-fee-is-more-than-zero" "a_flashloan_will_be_broken_if_the_usdt_fee_is_more_than_zero_clean.sol" "a-flashloan-will-be-broken-if-the-usdt-fee-is-more-than-zero (clean)"
