run_test "a-malicious-fee-receiver-can-cause-a-denial-of-service" "a_malicious_fee_receiver_can_cause_a_denial_of_service_vulnerable.sol" "a-malicious-fee-receiver-can-cause-a-denial-of-service"
run_clean_test "a-malicious-fee-receiver-can-cause-a-denial-of-service" "a_malicious_fee_receiver_can_cause_a_denial_of_service_clean.sol" "a-malicious-fee-receiver-can-cause-a-denial-of-service (clean)"
