run_test "a-malicious-collateralized-nft-token-can-block-liquidation-and-a" "a_malicious_collateralized_nft_token_can_block_liquidation_and_a_vulnerable.sol" "a-malicious-collateralized-nft-token-can-block-liquidation-and-a"
run_clean_test "a-malicious-collateralized-nft-token-can-block-liquidation-and-a" "a_malicious_collateralized_nft_token_can_block_liquidation_and_a_clean.sol" "a-malicious-collateralized-nft-token-can-block-liquidation-and-a (clean)"
