run_test "a-malicious-dao-can-hold-token-holders-captive-by-setting-forkpe" "a_malicious_dao_can_hold_token_holders_captive_by_setting_forkpe_vulnerable.sol" "a-malicious-dao-can-hold-token-holders-captive-by-setting-forkpe"
run_clean_test "a-malicious-dao-can-hold-token-holders-captive-by-setting-forkpe" "a_malicious_dao_can_hold_token_holders_captive_by_setting_forkpe_clean.sol" "a-malicious-dao-can-hold-token-holders-captive-by-setting-forkpe (clean)"
