run_test "a-malicious-dao-can-mint-arbitrary-fork-dao-tokens" "a_malicious_dao_can_mint_arbitrary_fork_dao_tokens_vulnerable.sol" "a-malicious-dao-can-mint-arbitrary-fork-dao-tokens"
run_clean_test "a-malicious-dao-can-mint-arbitrary-fork-dao-tokens" "a_malicious_dao_can_mint_arbitrary_fork_dao_tokens_clean.sol" "a-malicious-dao-can-mint-arbitrary-fork-dao-tokens (clean)"
