run_test "a-malicious-dao-can-prevent-deter-token-holders-from-executing-j" "a_malicious_dao_can_prevent_deter_token_holders_from_executing_j_vulnerable.sol" "a-malicious-dao-can-prevent-deter-token-holders-from-executing-j"
run_clean_test "a-malicious-dao-can-prevent-deter-token-holders-from-executing-j" "a_malicious_dao_can_prevent_deter_token_holders_from_executing_j_clean.sol" "a-malicious-dao-can-prevent-deter-token-holders-from-executing-j (clean)"
