run_test "a-malicious-proposer-can-create-arbitrary-number-of-maliciously-" "a_malicious_proposer_can_create_arbitrary_number_of_maliciously__vulnerable.sol" "a-malicious-proposer-can-create-arbitrary-number-of-maliciously-"
run_clean_test "a-malicious-proposer-can-create-arbitrary-number-of-maliciously-" "a_malicious_proposer_can_create_arbitrary_number_of_maliciously__clean.sol" "a-malicious-proposer-can-create-arbitrary-number-of-maliciously- (clean)"
