run_test "a-market-could-be-deprecated-but-still-prevent-liquidators-to-li" "a_market_could_be_deprecated_but_still_prevent_liquidators_to_li_vulnerable.sol" "a-market-could-be-deprecated-but-still-prevent-liquidators-to-li"
run_clean_test "a-market-could-be-deprecated-but-still-prevent-liquidators-to-li" "a_market_could_be_deprecated_but_still_prevent_liquidators_to_li_clean.sol" "a-market-could-be-deprecated-but-still-prevent-liquidators-to-li (clean)"
