run_test "a-malicious-proposer-can-update-proposal-past-inattentive-voters" "a_malicious_proposer_can_update_proposal_past_inattentive_voters_vulnerable.sol" "a-malicious-proposer-can-update-proposal-past-inattentive-voters"
run_clean_test "a-malicious-proposer-can-update-proposal-past-inattentive-voters" "a_malicious_proposer_can_update_proposal_past_inattentive_voters_clean.sol" "a-malicious-proposer-can-update-proposal-past-inattentive-voters (clean)"
