run_test "a-malicious-user-can-reduce-other-users-rewards-due-to-incorrect" "a_malicious_user_can_reduce_other_users_rewards_due_to_incorrect_vulnerable.sol" "a-malicious-user-can-reduce-other-users-rewards-due-to-incorrect"
run_clean_test "a-malicious-user-can-reduce-other-users-rewards-due-to-incorrect" "a_malicious_user_can_reduce_other_users_rewards_due_to_incorrect_clean.sol" "a-malicious-user-can-reduce-other-users-rewards-due-to-incorrect (clean)"
