run_test "a-malicious-new-dao-can-prevent-deter-token-holders-from-rage-qu" "a_malicious_new_dao_can_prevent_deter_token_holders_from_rage_qu_vulnerable.sol" "a-malicious-new-dao-can-prevent-deter-token-holders-from-rage-qu"
run_clean_test "a-malicious-new-dao-can-prevent-deter-token-holders-from-rage-qu" "a_malicious_new_dao_can_prevent_deter_token_holders_from_rage_qu_clean.sol" "a-malicious-new-dao-can-prevent-deter-token-holders-from-rage-qu (clean)"
