run_test "a-malicious-user-can-craft-valid-calldata-to-call-packed-version" "a_malicious_user_can_craft_valid_calldata_to_call_packed_version_vulnerable.sol" "a-malicious-user-can-craft-valid-calldata-to-call-packed-version"
run_clean_test "a-malicious-user-can-craft-valid-calldata-to-call-packed-version" "a_malicious_user_can_craft_valid_calldata_to_call_packed_version_clean.sol" "a-malicious-user-can-craft-valid-calldata-to-call-packed-version (clean)"
