run_test "a-malicious-staker-can-delay-the-increase-of-any-delegator-s-vot" "a_malicious_staker_can_delay_the_increase_of_any_delegator_s_vot_vulnerable.sol" "a-malicious-staker-can-delay-the-increase-of-any-delegator-s-vot"
run_clean_test "a-malicious-staker-can-delay-the-increase-of-any-delegator-s-vot" "a_malicious_staker_can_delay_the_increase_of_any_delegator_s_vot_clean.sol" "a-malicious-staker-can-delay-the-increase-of-any-delegator-s-vot (clean)"
