run_test "a-malicious-user-can-prevent-vote-creation-at-almost-no-cost" "a_malicious_user_can_prevent_vote_creation_at_almost_no_cost_vulnerable.sol" "a-malicious-user-can-prevent-vote-creation-at-almost-no-cost"
run_clean_test "a-malicious-user-can-prevent-vote-creation-at-almost-no-cost" "a_malicious_user_can_prevent_vote_creation_at_almost_no_cost_clean.sol" "a-malicious-user-can-prevent-vote-creation-at-almost-no-cost (clean)"
