run_test "a-malicious-user-can-cancel-an-itm-order-at-a-given-target-tick-" "a_malicious_user_can_cancel_an_itm_order_at_a_given_target_tick__vulnerable.sol" "a-malicious-user-can-cancel-an-itm-order-at-a-given-target-tick-"
run_clean_test "a-malicious-user-can-cancel-an-itm-order-at-a-given-target-tick-" "a_malicious_user_can_cancel_an_itm_order_at_a_given_target_tick__clean.sol" "a-malicious-user-can-cancel-an-itm-order-at-a-given-target-tick- (clean)"
