run_test "a-malicious-collection-admin-can-reclaim-a-pair-at-any-time-to-d" "a_malicious_collection_admin_can_reclaim_a_pair_at_any_time_to_d_vulnerable.sol" "a-malicious-collection-admin-can-reclaim-a-pair-at-any-time-to-d"
run_clean_test "a-malicious-collection-admin-can-reclaim-a-pair-at-any-time-to-d" "a_malicious_collection_admin_can_reclaim_a_pair_at_any_time_to_d_clean.sol" "a-malicious-collection-admin-can-reclaim-a-pair-at-any-time-to-d (clean)"
