run_test "a-malicious-reward-token-can-dos-reward-claiming-for-all-users-i" "a_malicious_reward_token_can_dos_reward_claiming_for_all_users_i_vulnerable.sol" "a-malicious-reward-token-can-dos-reward-claiming-for-all-users-i"
run_clean_test "a-malicious-reward-token-can-dos-reward-claiming-for-all-users-i" "a_malicious_reward_token_can_dos_reward_claiming_for_all_users_i_clean.sol" "a-malicious-reward-token-can-dos-reward-claiming-for-all-users-i (clean)"
