run_test "a-malicious-dao-can-prevent-forking-by-manipulating-the-forkthre" "a_malicious_dao_can_prevent_forking_by_manipulating_the_forkthre_vulnerable.sol" "a-malicious-dao-can-prevent-forking-by-manipulating-the-forkthre"
run_clean_test "a-malicious-dao-can-prevent-forking-by-manipulating-the-forkthre" "a_malicious_dao_can_prevent_forking_by_manipulating_the_forkthre_clean.sol" "a-malicious-dao-can-prevent-forking-by-manipulating-the-forkthre (clean)"
