run_test "a-newly-created-chain-that-has-been-migrated-to-the-gateway-will" "a_newly_created_chain_that_has_been_migrated_to_the_gateway_will_vulnerable.sol" "a-newly-created-chain-that-has-been-migrated-to-the-gateway-will"
run_clean_test "a-newly-created-chain-that-has-been-migrated-to-the-gateway-will" "a_newly_created_chain_that_has_been_migrated_to_the_gateway_will_clean.sol" "a-newly-created-chain-that-has-been-migrated-to-the-gateway-will (clean)"
