run_test "a-new-buyer-address-is-not-assigned-if-the-previous-one-was-reje" "a_new_buyer_address_is_not_assigned_if_the_previous_one_was_reje_vulnerable.sol" "a-new-buyer-address-is-not-assigned-if-the-previous-one-was-reje"
run_clean_test "a-new-buyer-address-is-not-assigned-if-the-previous-one-was-reje" "a_new_buyer_address_is_not_assigned_if_the_previous_one_was_reje_clean.sol" "a-new-buyer-address-is-not-assigned-if-the-previous-one-was-reje (clean)"
