run_test "a-new-malicious-adapter-can-access-users-tokens-fixed" "a_new_malicious_adapter_can_access_users_tokens_fixed_vulnerable.sol" "a-new-malicious-adapter-can-access-users-tokens-fixed"
run_clean_test "a-new-malicious-adapter-can-access-users-tokens-fixed" "a_new_malicious_adapter_can_access_users_tokens_fixed_clean.sol" "a-new-malicious-adapter-can-access-users-tokens-fixed (clean)"
