run_test "a-node-exit-prevents-some-other-nodes-from-exiting-for-some-peri" "a_node_exit_prevents_some_other_nodes_from_exiting_for_some_peri_vulnerable.sol" "a-node-exit-prevents-some-other-nodes-from-exiting-for-some-peri"
run_clean_test "a-node-exit-prevents-some-other-nodes-from-exiting-for-some-peri" "a_node_exit_prevents_some_other_nodes_from_exiting_for_some_peri_clean.sol" "a-node-exit-prevents-some-other-nodes-from-exiting-for-some-peri (clean)"
