run_test "bool-accumulator-overwrite" "bool_accumulator_overwrite_vulnerable.sol" "bool-accumulator-overwrite"
run_clean_test "bool-accumulator-overwrite" "bool_accumulator_overwrite_clean.sol" "bool-accumulator-overwrite (clean)"
