run_test "a-removed-bonding-curve-would-still-be-used-by-previously-cr-x" "a_removed_bonding_curve_would_still_be_used_by_previously_cr_x_vulnerable.sol" "a-removed-bonding-curve-would-still-be-used-by-previously-cr-x"
run_clean_test "a-removed-bonding-curve-would-still-be-used-by-previously-cr-x" "a_removed_bonding_curve_would_still_be_used_by_previously_cr_x_clean.sol" "a-removed-bonding-curve-would-still-be-used-by-previously-cr-x (clean)"
