run_test "a-regular-cosmos-sdk-message-can-be-disguised-as-an-evm-tran-x" "a_regular_cosmos_sdk_message_can_be_disguised_as_an_evm_tran_x_vulnerable.sol" "a-regular-cosmos-sdk-message-can-be-disguised-as-an-evm-tran-x"
run_clean_test "a-regular-cosmos-sdk-message-can-be-disguised-as-an-evm-tran-x" "a_regular_cosmos_sdk_message_can_be_disguised_as_an_evm_tran_x_clean.sol" "a-regular-cosmos-sdk-message-can-be-disguised-as-an-evm-tran-x (clean)"
