run_test "account-restrictions-can-be-bypassed-in-stakedusdf-contract" "account_restrictions_can_be_bypassed_in_stakedusdf_contract_vulnerable.sol" "account-restrictions-can-be-bypassed-in-stakedusdf-contract"
run_clean_test "account-restrictions-can-be-bypassed-in-stakedusdf-contract" "account_restrictions_can_be_bypassed_in_stakedusdf_contract_clean.sol" "account-restrictions-can-be-bypassed-in-stakedusdf-contract (clean)"
