run_test "accumulated-eth-in-the-lambovethrouter-will-be-irretrievable" "accumulated_eth_in_the_lambovethrouter_will_be_irretrievable_vulnerable.sol" "accumulated-eth-in-the-lambovethrouter-will-be-irretrievable"
run_clean_test "accumulated-eth-in-the-lambovethrouter-will-be-irretrievable" "accumulated_eth_in_the_lambovethrouter_will_be_irretrievable_clean.sol" "accumulated-eth-in-the-lambovethrouter-will-be-irretrievable (clean)"
