run_test "allowance-given-to-incorrect-address" "allowance_given_to_incorrect_address_vulnerable.sol" "allowance-given-to-incorrect-address"
run_clean_test "allowance-given-to-incorrect-address" "allowance_given_to_incorrect_address_clean.sol" "allowance-given-to-incorrect-address (clean)"
