run_test "anyone-can-call-strategysupplybase-harvest-allowing-users-to-x" "anyone_can_call_strategysupplybase_harvest_allowing_users_to_x_vulnerable.sol" "anyone-can-call-strategysupplybase-harvest-allowing-users-to-x"
run_clean_test "anyone-can-call-strategysupplybase-harvest-allowing-users-to-x" "anyone_can_call_strategysupplybase_harvest_allowing_users_to_x_clean.sol" "anyone-can-call-strategysupplybase-harvest-allowing-users-to-x (clean)"
