run_test "anyone-can-manipulate-user-nonce" "anyone_can_manipulate_user_nonce_vulnerable.sol" "anyone-can-manipulate-user-nonce"
run_clean_test "anyone-can-manipulate-user-nonce" "anyone_can_manipulate_user_nonce_clean.sol" "anyone-can-manipulate-user-nonce (clean)"
