run_test "arbitrary-token-transfers-in-wrapanddistributeerc20amounts" "arbitrary_token_transfers_in_wrapanddistributeerc20amounts_vulnerable.sol" "arbitrary-token-transfers-in-wrapanddistributeerc20amounts"
run_clean_test "arbitrary-token-transfers-in-wrapanddistributeerc20amounts" "arbitrary_token_transfers_in_wrapanddistributeerc20amounts_clean.sol" "arbitrary-token-transfers-in-wrapanddistributeerc20amounts (clean)"
