run_test "asset-removal-is-broken" "asset_removal_is_broken_vulnerable.sol" "asset-removal-is-broken"
run_clean_test "asset-removal-is-broken" "asset_removal_is_broken_clean.sol" "asset-removal-is-broken (clean)"
