run_test "attacker-can-use-function-withdrawfor-to-dos-users-from-with-x" "attacker_can_use_function_withdrawfor_to_dos_users_from_with_x_vulnerable.sol" "attacker-can-use-function-withdrawfor-to-dos-users-from-with-x"
run_clean_test "attacker-can-use-function-withdrawfor-to-dos-users-from-with-x" "attacker_can_use_function_withdrawfor_to_dos_users_from_with_x_clean.sol" "attacker-can-use-function-withdrawfor-to-dos-users-from-with-x (clean)"
