run_test "attacker-can-steal-jackpotticketnft-s-from-jackpotbridgemana-x" "attacker_can_steal_jackpotticketnft_s_from_jackpotbridgemana_x_vulnerable.sol" "attacker-can-steal-jackpotticketnft-s-from-jackpotbridgemana-x"
run_clean_test "attacker-can-steal-jackpotticketnft-s-from-jackpotbridgemana-x" "attacker_can_steal_jackpotticketnft_s_from_jackpotbridgemana_x_clean.sol" "attacker-can-steal-jackpotticketnft-s-from-jackpotbridgemana-x (clean)"
