run_test "authorization-controls-for-fvmwallet-set-default" "authorization_controls_for_fvmwallet_set_default_vulnerable.sol" "authorization-controls-for-fvmwallet-set-default"
run_clean_test "authorization-controls-for-fvmwallet-set-default" "authorization_controls_for_fvmwallet_set_default_clean.sol" "authorization-controls-for-fvmwallet-set-default (clean)"
