run_test "bad-debt-is-never-handled-which-places-insolvency-risks-on-b-x" "bad_debt_is_never_handled_which_places_insolvency_risks_on_b_x_vulnerable.sol" "bad-debt-is-never-handled-which-places-insolvency-risks-on-b-x"
run_clean_test "bad-debt-is-never-handled-which-places-insolvency-risks-on-b-x" "bad_debt_is_never_handled_which_places_insolvency_risks_on_b_x_clean.sol" "bad-debt-is-never-handled-which-places-insolvency-risks-on-b-x (clean)"
