run_test "bam-s-collectpremium-vulnerable-to-sandwich-attacks" "bam_s_collectpremium_vulnerable_to_sandwich_attacks_vulnerable.sol" "bam-s-collectpremium-vulnerable-to-sandwich-attacks"
run_clean_test "bam-s-collectpremium-vulnerable-to-sandwich-attacks" "bam_s_collectpremium_vulnerable_to_sandwich_attacks_clean.sol" "bam-s-collectpremium-vulnerable-to-sandwich-attacks (clean)"
