run_test "bam-s-collectpremium-may-fail-due-to-insufficient-liquidity" "bam_s_collectpremium_may_fail_due_to_insufficient_liquidity_vulnerable.sol" "bam-s-collectpremium-may-fail-due-to-insufficient-liquidity"
run_clean_test "bam-s-collectpremium-may-fail-due-to-insufficient-liquidity" "bam_s_collectpremium_may_fail_due_to_insufficient_liquidity_clean.sol" "bam-s-collectpremium-may-fail-due-to-insufficient-liquidity (clean)"
