run_test "battleelo-is-at-risk-of-underflow-revert-which-may-dos-voting" "battleelo_is_at_risk_of_underflow_revert_which_may_dos_voting_vulnerable.sol" "battleelo-is-at-risk-of-underflow-revert-which-may-dos-voting"
run_clean_test "battleelo-is-at-risk-of-underflow-revert-which-may-dos-voting" "battleelo_is_at_risk_of_underflow_revert_which_may_dos_voting_clean.sol" "battleelo-is-at-risk-of-underflow-revert-which-may-dos-voting (clean)"
