run_test "bias-in-hashtofield-function" "bias_in_hashtofield_function_vulnerable.sol" "bias-in-hashtofield-function"
run_clean_test "bias-in-hashtofield-function" "bias_in_hashtofield_function_clean.sol" "bias-in-hashtofield-function (clean)"
