run_test "boostedvalue-should-be-added-to-permanenttotalsupply-for-per-x" "boostedvalue_should_be_added_to_permanenttotalsupply_for_per_x_vulnerable.sol" "boostedvalue-should-be-added-to-permanenttotalsupply-for-per-x"
run_clean_test "boostedvalue-should-be-added-to-permanenttotalsupply-for-per-x" "boostedvalue_should_be_added_to_permanenttotalsupply_for_per_x_clean.sol" "boostedvalue-should-be-added-to-permanenttotalsupply-for-per-x (clean)"
