run_test "builderwallet-init-is-unprotected-re-initializable-enabling--x" "builderwallet_init_is_unprotected_re_initializable_enabling__x_vulnerable.sol" "builderwallet-init-is-unprotected-re-initializable-enabling--x"
run_clean_test "builderwallet-init-is-unprotected-re-initializable-enabling--x" "builderwallet_init_is_unprotected_re_initializable_enabling__x_clean.sol" "builderwallet-init-is-unprotected-re-initializable-enabling--x (clean)"
