run_test "cdpvault-liquidateposition-does-not-scale-takecollateral" "cdpvault_liquidateposition_does_not_scale_takecollateral_vulnerable.sol" "cdpvault-liquidateposition-does-not-scale-takecollateral"
run_clean_test "cdpvault-liquidateposition-does-not-scale-takecollateral" "cdpvault_liquidateposition_does_not_scale_takecollateral_clean.sol" "cdpvault-liquidateposition-does-not-scale-takecollateral (clean)"
