run_test "chainlink-data-staleness" "chainlink_data_staleness_vulnerable.sol" "chainlink-data-staleness"
run_clean_test "chainlink-data-staleness" "chainlink_data_staleness_clean.sol" "chainlink-data-staleness (clean)"
