run_test "chainlink-feed-id-not-checked-in-upkeep-46" "chainlink_feed_id_not_checked_in_upkeep_46_vulnerable.sol" "chainlink-feed-id-not-checked-in-upkeep-46"
run_clean_test "chainlink-feed-id-not-checked-in-upkeep-46" "chainlink_feed_id_not_checked_in_upkeep_46_clean.sol" "chainlink-feed-id-not-checked-in-upkeep-46 (clean)"
