run_test "changing-auction-duration-will-have-effect-on-ongoing-auctions" "changing_auction_duration_will_have_effect_on_ongoing_auctions_vulnerable.sol" "changing-auction-duration-will-have-effect-on-ongoing-auctions"
run_clean_test "changing-auction-duration-will-have-effect-on-ongoing-auctions" "changing_auction_duration_will_have_effect_on_ongoing_auctions_clean.sol" "changing-auction-duration-will-have-effect-on-ongoing-auctions (clean)"
