run_test "clob-config-invariant-can-be-broken-by-updating-clobmanager--x" "clob_config_invariant_can_be_broken_by_updating_clobmanager__x_vulnerable.sol" "clob-config-invariant-can-be-broken-by-updating-clobmanager--x"
run_clean_test "clob-config-invariant-can-be-broken-by-updating-clobmanager--x" "clob_config_invariant_can_be_broken_by_updating_clobmanager__x_clean.sol" "clob-config-invariant-can-be-broken-by-updating-clobmanager--x (clean)"
