run_test "code-does-not-compile-26" "code_does_not_compile_26_vulnerable.sol" "code-does-not-compile-26"
run_clean_test "code-does-not-compile-26" "code_does_not_compile_26_clean.sol" "code-does-not-compile-26 (clean)"
