run_test "code-does-not-compile" "code_does_not_compile_vulnerable.sol" "code-does-not-compile"
run_clean_test "code-does-not-compile" "code_does_not_compile_clean.sol" "code-does-not-compile (clean)"
