run_test "commission-fees-can-always-be-bypassed" "commission_fees_can_always_be_bypassed_vulnerable.sol" "commission-fees-can-always-be-bypassed"
run_clean_test "commission-fees-can-always-be-bypassed" "commission_fees_can_always_be_bypassed_clean.sol" "commission-fees-can-always-be-bypassed (clean)"
