run_test "compromised-treasury-address-can-permanently-block-updates-a-x" "compromised_treasury_address_can_permanently_block_updates_a_x_vulnerable.sol" "compromised-treasury-address-can-permanently-block-updates-a-x"
run_clean_test "compromised-treasury-address-can-permanently-block-updates-a-x" "compromised_treasury_address_can_permanently_block_updates_a_x_clean.sol" "compromised-treasury-address-can-permanently-block-updates-a-x (clean)"
