run_test "compromised-or-malicious-treasury-can-disable-fee-distributi-x" "compromised_or_malicious_treasury_can_disable_fee_distributi_x_vulnerable.sol" "compromised-or-malicious-treasury-can-disable-fee-distributi-x"
run_clean_test "compromised-or-malicious-treasury-can-disable-fee-distributi-x" "compromised_or_malicious_treasury_can_disable_fee_distributi_x_clean.sol" "compromised-or-malicious-treasury-can-disable-fee-distributi-x (clean)"
