run_test "concretemultistrategy-should-inherit-from-reentrancyguardupg-x" "concretemultistrategy_should_inherit_from_reentrancyguardupg_x_vulnerable.sol" "concretemultistrategy-should-inherit-from-reentrancyguardupg-x"
run_clean_test "concretemultistrategy-should-inherit-from-reentrancyguardupg-x" "concretemultistrategy_should_inherit_from_reentrancyguardupg_x_clean.sol" "concretemultistrategy-should-inherit-from-reentrancyguardupg-x (clean)"
