run_test "confusing-else-branch-in-compareobjectfields" "confusing_else_branch_in_compareobjectfields_vulnerable.sol" "confusing-else-branch-in-compareobjectfields"
run_clean_test "confusing-else-branch-in-compareobjectfields" "confusing_else_branch_in_compareobjectfields_clean.sol" "confusing-else-branch-in-compareobjectfields (clean)"
