run_test "conflicting-authorization-revocation-flows-43" "conflicting_authorization_revocation_flows_43_vulnerable.sol" "conflicting-authorization-revocation-flows-43"
run_clean_test "conflicting-authorization-revocation-flows-43" "conflicting_authorization_revocation_flows_43_clean.sol" "conflicting-authorization-revocation-flows-43 (clean)"
