run_test "consider-using-instead-of-for-expiry-checks-consider-using-i-x" "consider_using_instead_of_for_expiry_checks_consider_using_i_x_vulnerable.sol" "consider-using-instead-of-for-expiry-checks-consider-using-i-x"
run_clean_test "consider-using-instead-of-for-expiry-checks-consider-using-i-x" "consider_using_instead_of_for_expiry_checks_consider_using_i_x_clean.sol" "consider-using-instead-of-for-expiry-checks-consider-using-i-x (clean)"
