run_test "contract-phinft1155-can-t-be-paused" "contract_phinft1155_can_t_be_paused_vulnerable.sol" "contract-phinft1155-can-t-be-paused"
run_clean_test "contract-phinft1155-can-t-be-paused" "contract_phinft1155_can_t_be_paused_clean.sol" "contract-phinft1155-can-t-be-paused (clean)"
