run_test "creator-does-not-receive-fees-when-supply-0-creator-does-not-x" "creator_does_not_receive_fees_when_supply_0_creator_does_not_x_vulnerable.sol" "creator-does-not-receive-fees-when-supply-0-creator-does-not-x"
run_clean_test "creator-does-not-receive-fees-when-supply-0-creator-does-not-x" "creator_does_not_receive_fees_when_supply_0_creator_does_not_x_clean.sol" "creator-does-not-receive-fees-when-supply-0-creator-does-not-x (clean)"
