run_test "createpoold650e2d0-will-not-work-due-to-mismatch-in-solidity-x" "createpoold650e2d0_will_not_work_due_to_mismatch_in_solidity_x_vulnerable.sol" "createpoold650e2d0-will-not-work-due-to-mismatch-in-solidity-x"
run_clean_test "createpoold650e2d0-will-not-work-due-to-mismatch-in-solidity-x" "createpoold650e2d0_will_not_work_due_to_mismatch_in_solidity_x_clean.sol" "createpoold650e2d0-will-not-work-due-to-mismatch-in-solidity-x (clean)"
