run_test "debt-position-interest-is-compounded-while-pool-interest-is--x" "debt_position_interest_is_compounded_while_pool_interest_is__x_vulnerable.sol" "debt-position-interest-is-compounded-while-pool-interest-is--x"
run_clean_test "debt-position-interest-is-compounded-while-pool-interest-is--x" "debt_position_interest_is_compounded_while_pool_interest_is__x_clean.sol" "debt-position-interest-is-compounded-while-pool-interest-is--x (clean)"
