run_test "decreaselever-uses-incorrect-position-address-when-withdrawing" "decreaselever_uses_incorrect_position_address_when_withdrawing_vulnerable.sol" "decreaselever-uses-incorrect-position-address-when-withdrawing"
run_clean_test "decreaselever-uses-incorrect-position-address-when-withdrawing" "decreaselever_uses_incorrect_position_address_when_withdrawing_clean.sol" "decreaselever-uses-incorrect-position-address-when-withdrawing (clean)"
