run_test "denial-of-service-on-behalf-of-borrower" "denial_of_service_on_behalf_of_borrower_vulnerable.sol" "denial-of-service-on-behalf-of-borrower"
run_clean_test "denial-of-service-on-behalf-of-borrower" "denial_of_service_on_behalf_of_borrower_clean.sol" "denial-of-service-on-behalf-of-borrower (clean)"
