run_test "deposits-can-be-potentially-frontrun-and-stolen" "deposits_can_be_potentially_frontrun_and_stolen_vulnerable.sol" "deposits-can-be-potentially-frontrun-and-stolen"
run_clean_test "deposits-can-be-potentially-frontrun-and-stolen" "deposits_can_be_potentially_frontrun_and_stolen_clean.sol" "deposits-can-be-potentially-frontrun-and-stolen (clean)"
