run_test "desynchronization-of-cabal-s-internal-accounting-with-actual-x" "desynchronization_of_cabal_s_internal_accounting_with_actual_x_vulnerable.sol" "desynchronization-of-cabal-s-internal-accounting-with-actual-x"
run_clean_test "desynchronization-of-cabal-s-internal-accounting-with-actual-x" "desynchronization_of_cabal_s_internal_accounting_with_actual_x_clean.sol" "desynchronization-of-cabal-s-internal-accounting-with-actual-x (clean)"
