run_test "deterministic-address-could-be-used-in-front-run-27" "deterministic_address_could_be_used_in_front_run_27_vulnerable.sol" "deterministic-address-could-be-used-in-front-run-27"
run_clean_test "deterministic-address-could-be-used-in-front-run-27" "deterministic_address_could_be_used_in_front_run_27_clean.sol" "deterministic-address-could-be-used-in-front-run-27 (clean)"
