run_test "dfynrfq-provides-a-function-to-renounce-ownership" "dfynrfq_provides_a_function_to_renounce_ownership_vulnerable.sol" "dfynrfq-provides-a-function-to-renounce-ownership"
run_clean_test "dfynrfq-provides-a-function-to-renounce-ownership" "dfynrfq_provides_a_function_to_renounce_ownership_clean.sol" "dfynrfq-provides-a-function-to-renounce-ownership (clean)"
