run_test "different-batching-layers-in-multilinearpcsbatchprover-and-m-x" "different_batching_layers_in_multilinearpcsbatchprover_and_m_x_vulnerable.sol" "different-batching-layers-in-multilinearpcsbatchprover-and-m-x"
run_clean_test "different-batching-layers-in-multilinearpcsbatchprover-and-m-x" "different_batching_layers_in_multilinearpcsbatchprover_and_m_x_clean.sol" "different-batching-layers-in-multilinearpcsbatchprover-and-m-x (clean)"
