run_test "documentation-inconsistencies-14" "documentation_inconsistencies_14_vulnerable.sol" "documentation-inconsistencies-14"
run_clean_test "documentation-inconsistencies-14" "documentation_inconsistencies_14_clean.sol" "documentation-inconsistencies-14 (clean)"
