run_test "dos-attack-to-swapaction-transferandswap-when-using-an-erc20-x" "dos_attack_to_swapaction_transferandswap_when_using_an_erc20_x_vulnerable.sol" "dos-attack-to-swapaction-transferandswap-when-using-an-erc20-x"
run_clean_test "dos-attack-to-swapaction-transferandswap-when-using-an-erc20-x" "dos_attack_to_swapaction_transferandswap_when_using_an_erc20_x_clean.sol" "dos-attack-to-swapaction-transferandswap-when-using-an-erc20-x (clean)"
