run_test "drawing-time-calculation-uses-scheduled-end-time-instead-of--x" "drawing_time_calculation_uses_scheduled_end_time_instead_of__x_vulnerable.sol" "drawing-time-calculation-uses-scheduled-end-time-instead-of--x"
run_clean_test "drawing-time-calculation-uses-scheduled-end-time-instead-of--x" "drawing_time_calculation_uses_scheduled_end_time_instead_of__x_clean.sol" "drawing-time-calculation-uses-scheduled-end-time-instead-of--x (clean)"
