run_test "dust-amount-not-handled-in-selfcloseexitto" "dust_amount_not_handled_in_selfcloseexitto_vulnerable.sol" "dust-amount-not-handled-in-selfcloseexitto"
run_clean_test "dust-amount-not-handled-in-selfcloseexitto" "dust_amount_not_handled_in_selfcloseexitto_clean.sol" "dust-amount-not-handled-in-selfcloseexitto (clean)"
