run_test "dynamic-variable-size-for-hash-parameters" "dynamic_variable_size_for_hash_parameters_vulnerable.sol" "dynamic-variable-size-for-hash-parameters"
run_clean_test "dynamic-variable-size-for-hash-parameters" "dynamic_variable_size_for_hash_parameters_clean.sol" "dynamic-variable-size-for-hash-parameters (clean)"
