run_test "emissions-can-be-claimed-multiple-times" "emissions_can_be_claimed_multiple_times_vulnerable.sol" "emissions-can-be-claimed-multiple-times"
run_clean_test "emissions-can-be-claimed-multiple-times" "emissions_can_be_claimed_multiple_times_clean.sol" "emissions-can-be-claimed-multiple-times (clean)"
