run_test "endianess-for-bytes32" "endianess_for_bytes32_vulnerable.sol" "endianess-for-bytes32"
run_clean_test "endianess-for-bytes32" "endianess_for_bytes32_clean.sol" "endianess-for-bytes32 (clean)"
