run_test "epoch-length-updating-is-underconstrained-14" "epoch_length_updating_is_underconstrained_14_vulnerable.sol" "epoch-length-updating-is-underconstrained-14"
run_clean_test "epoch-length-updating-is-underconstrained-14" "epoch_length_updating_is_underconstrained_14_clean.sol" "epoch-length-updating-is-underconstrained-14 (clean)"
