run_test "epoch-length-updating-is-underconstrained" "epoch_length_updating_is_underconstrained_vulnerable.sol" "epoch-length-updating-is-underconstrained"
run_clean_test "epoch-length-updating-is-underconstrained" "epoch_length_updating_is_underconstrained_clean.sol" "epoch-length-updating-is-underconstrained (clean)"
