run_test "erc20-decimals-method-may-be-unimplemented" "erc20_decimals_method_may_be_unimplemented_vulnerable.sol" "erc20-decimals-method-may-be-unimplemented"
run_clean_test "erc20-decimals-method-may-be-unimplemented" "erc20_decimals_method_may_be_unimplemented_clean.sol" "erc20-decimals-method-may-be-unimplemented (clean)"
