run_test "execution-of-tp-can-be-front-run-for-more-profit" "execution_of_tp_can_be_front_run_for_more_profit_vulnerable.sol" "execution-of-tp-can-be-front-run-for-more-profit"
run_clean_test "execution-of-tp-can-be-front-run-for-more-profit" "execution_of_tp_can_be_front_run_for_more_profit_clean.sol" "execution-of-tp-can-be-front-run-for-more-profit (clean)"
