run_test "exposed-removecredidperaddress-addcredidperaddress-allows-an-x" "exposed_removecredidperaddress_addcredidperaddress_allows_an_x_vulnerable.sol" "exposed-removecredidperaddress-addcredidperaddress-allows-an-x"
run_clean_test "exposed-removecredidperaddress-addcredidperaddress-allows-an-x" "exposed_removecredidperaddress_addcredidperaddress_allows_an_x_clean.sol" "exposed-removecredidperaddress-addcredidperaddress-allows-an-x (clean)"
