run_test "extra-calls-into-timelock-eoa-will-fail" "extra_calls_into_timelock_eoa_will_fail_vulnerable.sol" "extra-calls-into-timelock-eoa-will-fail"
run_clean_test "extra-calls-into-timelock-eoa-will-fail" "extra_calls_into_timelock_eoa_will_fail_clean.sol" "extra-calls-into-timelock-eoa-will-fail (clean)"
