run_test "extra-calls-into-timelock-eoa-will-fail-18" "extra_calls_into_timelock_eoa_will_fail_18_vulnerable.sol" "extra-calls-into-timelock-eoa-will-fail-18"
run_clean_test "extra-calls-into-timelock-eoa-will-fail-18" "extra_calls_into_timelock_eoa_will_fail_18_clean.sol" "extra-calls-into-timelock-eoa-will-fail-18 (clean)"
