run_test "fee-is-not-limited-to-100" "fee_is_not_limited_to_100_vulnerable.sol" "fee-is-not-limited-to-100"
run_clean_test "fee-is-not-limited-to-100" "fee_is_not_limited_to_100_clean.sol" "fee-is-not-limited-to-100 (clean)"
