run_test "fee-recipient-can-censor-forum-posts" "fee_recipient_can_censor_forum_posts_vulnerable.sol" "fee-recipient-can-censor-forum-posts"
run_clean_test "fee-recipient-can-censor-forum-posts" "fee_recipient_can_censor_forum_posts_clean.sol" "fee-recipient-can-censor-forum-posts (clean)"
