run_test "fee-can-be-minted-multiple-times" "fee_can_be_minted_multiple_times_vulnerable.sol" "fee-can-be-minted-multiple-times"
run_clean_test "fee-can-be-minted-multiple-times" "fee_can_be_minted_multiple_times_clean.sol" "fee-can-be-minted-multiple-times (clean)"
