run_test "fee-amount-may-be-rounded-to-zero" "fee_amount_may_be_rounded_to_zero_vulnerable.sol" "fee-amount-may-be-rounded-to-zero"
run_clean_test "fee-amount-may-be-rounded-to-zero" "fee_amount_may_be_rounded_to_zero_clean.sol" "fee-amount-may-be-rounded-to-zero (clean)"
