run_test "feed-price-validation-can-be-bypassed-14" "feed_price_validation_can_be_bypassed_14_vulnerable.sol" "feed-price-validation-can-be-bypassed-14"
run_clean_test "feed-price-validation-can-be-bypassed-14" "feed_price_validation_can_be_bypassed_14_clean.sol" "feed-price-validation-can-be-bypassed-14 (clean)"
