run_test "fees-could-be-dripped-in-any-state" "fees_could_be_dripped_in_any_state_vulnerable.sol" "fees-could-be-dripped-in-any-state"
run_clean_test "fees-could-be-dripped-in-any-state" "fees_could_be_dripped_in_any_state_clean.sol" "fees-could-be-dripped-in-any-state (clean)"
