run_test "fixed-assure-debtors-are-auctionable" "fixed_assure_debtors_are_auctionable_vulnerable.sol" "fixed-assure-debtors-are-auctionable"
run_clean_test "fixed-assure-debtors-are-auctionable" "fixed_assure_debtors_are_auctionable_clean.sol" "fixed-assure-debtors-are-auctionable (clean)"
