run_test "fixedtermloanhook-looks-at-block-timestamp-instead-of" "fixedtermloanhook_looks_at_block_timestamp_instead_of_vulnerable.sol" "fixedtermloanhook-looks-at-block-timestamp-instead-of"
run_clean_test "fixedtermloanhook-looks-at-block-timestamp-instead-of" "fixedtermloanhook_looks_at_block_timestamp_instead_of_clean.sol" "fixedtermloanhook-looks-at-block-timestamp-instead-of (clean)"
