run_test "for-extreme-ratios-getratiosfrompriceswap-will-return-data-f-x" "for_extreme_ratios_getratiosfrompriceswap_will_return_data_f_x_vulnerable.sol" "for-extreme-ratios-getratiosfrompriceswap-will-return-data-f-x"
run_clean_test "for-extreme-ratios-getratiosfrompriceswap-will-return-data-f-x" "for_extreme_ratios_getratiosfrompriceswap_will_return_data_f_x_clean.sol" "for-extreme-ratios-getratiosfrompriceswap-will-return-data-f-x (clean)"
