run_test "front-runners-can-cancel-any-permit-deposit" "front_runners_can_cancel_any_permit_deposit_vulnerable.sol" "front-runners-can-cancel-any-permit-deposit"
run_clean_test "front-runners-can-cancel-any-permit-deposit" "front_runners_can_cancel_any_permit_deposit_clean.sol" "front-runners-can-cancel-any-permit-deposit (clean)"
