run_test "functions-in-ferc20-can-t-be-invoked" "functions_in_ferc20_can_t_be_invoked_vulnerable.sol" "functions-in-ferc20-can-t-be-invoked"
run_clean_test "functions-in-ferc20-can-t-be-invoked" "functions_in_ferc20_can_t_be_invoked_clean.sol" "functions-in-ferc20-can-t-be-invoked (clean)"
