run_test "function-cleanupmaturedbuckets-may-run-out-of-gas" "function_cleanupmaturedbuckets_may_run_out_of_gas_vulnerable.sol" "function-cleanupmaturedbuckets-may-run-out-of-gas"
run_clean_test "function-cleanupmaturedbuckets-may-run-out-of-gas" "function_cleanupmaturedbuckets_may_run_out_of_gas_clean.sol" "function-cleanupmaturedbuckets-may-run-out-of-gas (clean)"
