run_test "function-assignedkeccakinputs-to-instance-values-incorrect-f-x" "function_assignedkeccakinputs_to_instance_values_incorrect_f_x_vulnerable.sol" "function-assignedkeccakinputs-to-instance-values-incorrect-f-x"
run_clean_test "function-assignedkeccakinputs-to-instance-values-incorrect-f-x" "function_assignedkeccakinputs_to_instance_values_incorrect_f_x_clean.sol" "function-assignedkeccakinputs-to-instance-values-incorrect-f-x (clean)"
