run_test "function-assign-job-of-dvn-is-pausable-23" "function_assign_job_of_dvn_is_pausable_23_vulnerable.sol" "function-assign-job-of-dvn-is-pausable-23"
run_clean_test "function-assign-job-of-dvn-is-pausable-23" "function_assign_job_of_dvn_is_pausable_23_clean.sol" "function-assign-job-of-dvn-is-pausable-23 (clean)"
