run_test "functions-withdrawwithconfirm" "functions_withdrawwithconfirm_vulnerable.sol" "functions-withdrawwithconfirm"
run_clean_test "functions-withdrawwithconfirm" "functions_withdrawwithconfirm_clean.sol" "functions-withdrawwithconfirm (clean)"
