run_test "function-delegatedaction-should-be-payable" "function_delegatedaction_should_be_payable_vulnerable.sol" "function-delegatedaction-should-be-payable"
run_clean_test "function-delegatedaction-should-be-payable" "function_delegatedaction_should_be_payable_clean.sol" "function-delegatedaction-should-be-payable (clean)"
