run_test "genesis-sol-ongenesissuccess-users-may-lose-their-unclaimed--x" "genesis_sol_ongenesissuccess_users_may_lose_their_unclaimed__x_vulnerable.sol" "genesis-sol-ongenesissuccess-users-may-lose-their-unclaimed--x"
run_clean_test "genesis-sol-ongenesissuccess-users-may-lose-their-unclaimed--x" "genesis_sol_ongenesissuccess_users_may_lose_their_unclaimed__x_clean.sol" "genesis-sol-ongenesissuccess-users-may-lose-their-unclaimed--x (clean)"
