run_test "getorderspaginated-may-return-empty-list-even-if-there-are-m-x" "getorderspaginated_may_return_empty_list_even_if_there_are_m_x_vulnerable.sol" "getorderspaginated-may-return-empty-list-even-if-there-are-m-x"
run_clean_test "getorderspaginated-may-return-empty-list-even-if-there-are-m-x" "getorderspaginated_may_return_empty_list_even_if_there_are_m_x_clean.sol" "getorderspaginated-may-return-empty-list-even-if-there-are-m-x (clean)"
