run_test "getperiodreward-always-reverts-when-receiver-is-address-0-in-x" "getperiodreward_always_reverts_when_receiver_is_address_0_in_x_vulnerable.sol" "getperiodreward-always-reverts-when-receiver-is-address-0-in-x"
run_clean_test "getperiodreward-always-reverts-when-receiver-is-address-0-in-x" "getperiodreward_always_reverts_when_receiver_is_address_0_in_x_clean.sol" "getperiodreward-always-reverts-when-receiver-is-address-0-in-x (clean)"
