run_test "if-an-isolated-borrower-bidder-is-blacklisted-by-the-debt-to-x" "if_an_isolated_borrower_bidder_is_blacklisted_by_the_debt_to_x_vulnerable.sol" "if-an-isolated-borrower-bidder-is-blacklisted-by-the-debt-to-x"
run_clean_test "if-an-isolated-borrower-bidder-is-blacklisted-by-the-debt-to-x" "if_an_isolated_borrower_bidder_is_blacklisted_by_the_debt_to_x_clean.sol" "if-an-isolated-borrower-bidder-is-blacklisted-by-the-debt-to-x (clean)"
