run_test "if-governance-is-changed-new-governance-would-not-be-able-to-x" "if_governance_is_changed_new_governance_would_not_be_able_to_x_vulnerable.sol" "if-governance-is-changed-new-governance-would-not-be-able-to-x"
run_clean_test "if-governance-is-changed-new-governance-would-not-be-able-to-x" "if_governance_is_changed_new_governance_would_not_be_able_to_x_clean.sol" "if-governance-is-changed-new-governance-would-not-be-able-to-x (clean)"
