run_test "if-rewards-are-not-distributed-to-some-gauges-in-an-epoch-it-x" "if_rewards_are_not_distributed_to_some_gauges_in_an_epoch_it_x_vulnerable.sol" "if-rewards-are-not-distributed-to-some-gauges-in-an-epoch-it-x"
run_clean_test "if-rewards-are-not-distributed-to-some-gauges-in-an-epoch-it-x" "if_rewards_are_not_distributed_to_some_gauges_in_an_epoch_it_x_clean.sol" "if-rewards-are-not-distributed-to-some-gauges-in-an-epoch-it-x (clean)"
