run_test "implementation-whitelisting-is-irreversible" "implementation_whitelisting_is_irreversible_vulnerable.sol" "implementation-whitelisting-is-irreversible"
run_clean_test "implementation-whitelisting-is-irreversible" "implementation_whitelisting_is_irreversible_clean.sol" "implementation-whitelisting-is-irreversible (clean)"
