run_test "implementation-contract-can-be-used" "implementation_contract_can_be_used_vulnerable.sol" "implementation-contract-can-be-used"
run_clean_test "implementation-contract-can-be-used" "implementation_contract_can_be_used_clean.sol" "implementation-contract-can-be-used (clean)"
