run_test "improvements-possible-for-testing-out-of-gas-on-mcopy-45" "improvements_possible_for_testing_out_of_gas_on_mcopy_45_vulnerable.sol" "improvements-possible-for-testing-out-of-gas-on-mcopy-45"
run_clean_test "improvements-possible-for-testing-out-of-gas-on-mcopy-45" "improvements_possible_for_testing_out_of_gas_on_mcopy_45_clean.sol" "improvements-possible-for-testing-out-of-gas-on-mcopy-45 (clean)"
