run_test "in-starknet-already-processed-messages-can-be-re-submitted-a-x" "in_starknet_already_processed_messages_can_be_re_submitted_a_x_vulnerable.sol" "in-starknet-already-processed-messages-can-be-re-submitted-a-x"
run_clean_test "in-starknet-already-processed-messages-can-be-re-submitted-a-x" "in_starknet_already_processed_messages_can_be_re_submitted_a_x_clean.sol" "in-starknet-already-processed-messages-can-be-re-submitted-a-x (clean)"
