run_test "inappropriate-revert-messages" "inappropriate_revert_messages_vulnerable.sol" "inappropriate-revert-messages"
run_clean_test "inappropriate-revert-messages" "inappropriate_revert_messages_clean.sol" "inappropriate-revert-messages (clean)"
