run_test "inclusion-of-unnecessary-migrate-function" "inclusion_of_unnecessary_migrate_function_vulnerable.sol" "inclusion-of-unnecessary-migrate-function"
run_clean_test "inclusion-of-unnecessary-migrate-function" "inclusion_of_unnecessary_migrate_function_clean.sol" "inclusion-of-unnecessary-migrate-function (clean)"
