run_test "incorrect-unwrapnativetokeninwallet-receiver-address" "incorrect_unwrapnativetokeninwallet_receiver_address_vulnerable.sol" "incorrect-unwrapnativetokeninwallet-receiver-address"
run_clean_test "incorrect-unwrapnativetokeninwallet-receiver-address" "incorrect_unwrapnativetokeninwallet_receiver_address_clean.sol" "incorrect-unwrapnativetokeninwallet-receiver-address (clean)"
