run_test "incorrect-decimals-setting-for-ckrbtc-token-may-lead-to-user-x" "incorrect_decimals_setting_for_ckrbtc_token_may_lead_to_user_x_vulnerable.sol" "incorrect-decimals-setting-for-ckrbtc-token-may-lead-to-user-x"
run_clean_test "incorrect-decimals-setting-for-ckrbtc-token-may-lead-to-user-x" "incorrect_decimals_setting_for_ckrbtc_token_may_lead_to_user_x_clean.sol" "incorrect-decimals-setting-for-ckrbtc-token-may-lead-to-user-x (clean)"
