run_test "incorrect-event-parameter-order" "incorrect_event_parameter_order_vulnerable.sol" "incorrect-event-parameter-order"
run_clean_test "incorrect-event-parameter-order" "incorrect_event_parameter_order_clean.sol" "incorrect-event-parameter-order (clean)"
