run_test "incorrect-reward-distribution-due-to-feeshares-minting-order" "incorrect_reward_distribution_due_to_feeshares_minting_order_vulnerable.sol" "incorrect-reward-distribution-due-to-feeshares-minting-order"
run_clean_test "incorrect-reward-distribution-due-to-feeshares-minting-order" "incorrect_reward_distribution_due_to_feeshares_minting_order_clean.sol" "incorrect-reward-distribution-due-to-feeshares-minting-order (clean)"
