run_test "incorrect-nft-state-returned-from-getnftstakedata-src-yield--x" "incorrect_nft_state_returned_from_getnftstakedata_src_yield__x_vulnerable.sol" "incorrect-nft-state-returned-from-getnftstakedata-src-yield--x"
run_clean_test "incorrect-nft-state-returned-from-getnftstakedata-src-yield--x" "incorrect_nft_state_returned_from_getnftstakedata_src_yield__x_clean.sol" "incorrect-nft-state-returned-from-getnftstakedata-src-yield--x (clean)"
