run_test "incorrect-proxy-contract-addresses" "incorrect_proxy_contract_addresses_vulnerable.sol" "incorrect-proxy-contract-addresses"
run_clean_test "incorrect-proxy-contract-addresses" "incorrect_proxy_contract_addresses_clean.sol" "incorrect-proxy-contract-addresses (clean)"
