run_test "incorrect-calculation-about-voting-power" "incorrect_calculation_about_voting_power_vulnerable.sol" "incorrect-calculation-about-voting-power"
run_clean_test "incorrect-calculation-about-voting-power" "incorrect_calculation_about_voting_power_clean.sol" "incorrect-calculation-about-voting-power (clean)"
