run_test "incorrect-cap-reset-in-setcap-function" "incorrect_cap_reset_in_setcap_function_vulnerable.sol" "incorrect-cap-reset-in-setcap-function"
run_clean_test "incorrect-cap-reset-in-setcap-function" "incorrect_cap_reset_in_setcap_function_clean.sol" "incorrect-cap-reset-in-setcap-function (clean)"
