run_test "incorrect-funding-rate-calculation" "incorrect_funding_rate_calculation_vulnerable.sol" "incorrect-funding-rate-calculation"
run_clean_test "incorrect-funding-rate-calculation" "incorrect_funding_rate_calculation_clean.sol" "incorrect-funding-rate-calculation (clean)"
