run_test "incorrect-total-gauge-weight-calculation" "incorrect_total_gauge_weight_calculation_vulnerable.sol" "incorrect-total-gauge-weight-calculation"
run_clean_test "incorrect-total-gauge-weight-calculation" "incorrect_total_gauge_weight_calculation_clean.sol" "incorrect-total-gauge-weight-calculation (clean)"
