run_test "incorrect-predeposit-reward" "incorrect_predeposit_reward_vulnerable.sol" "incorrect-predeposit-reward"
run_clean_test "incorrect-predeposit-reward" "incorrect_predeposit_reward_clean.sol" "incorrect-predeposit-reward (clean)"
