run_test "incorrect-return-value-in-claimablerewardafterboost" "incorrect_return_value_in_claimablerewardafterboost_vulnerable.sol" "incorrect-return-value-in-claimablerewardafterboost"
run_clean_test "incorrect-return-value-in-claimablerewardafterboost" "incorrect_return_value_in_claimablerewardafterboost_clean.sol" "incorrect-return-value-in-claimablerewardafterboost (clean)"
