run_test "incorrect-upper-118bits-mask-mask-in-oraclepacklibrary-cause-x" "incorrect_upper_118bits_mask_mask_in_oraclepacklibrary_cause_x_vulnerable.sol" "incorrect-upper-118bits-mask-mask-in-oraclepacklibrary-cause-x"
run_clean_test "incorrect-upper-118bits-mask-mask-in-oraclepacklibrary-cause-x" "incorrect_upper_118bits_mask_mask_in_oraclepacklibrary_cause_x_clean.sol" "incorrect-upper-118bits-mask-mask-in-oraclepacklibrary-cause-x (clean)"
