run_test "inconsistent-normal-ball-range-for-new-subscriptions" "inconsistent_normal_ball_range_for_new_subscriptions_vulnerable.sol" "inconsistent-normal-ball-range-for-new-subscriptions"
run_clean_test "inconsistent-normal-ball-range-for-new-subscriptions" "inconsistent_normal_ball_range_for_new_subscriptions_clean.sol" "inconsistent-normal-ball-range-for-new-subscriptions (clean)"
