run_test "incorrect-address-is-used-as" "incorrect_address_is_used_as_vulnerable.sol" "incorrect-address-is-used-as"
run_clean_test "incorrect-address-is-used-as" "incorrect_address_is_used_as_clean.sol" "incorrect-address-is-used-as (clean)"
