run_test "incorrect-payout-distribution-when-prize-pool-equals-minimum-x" "incorrect_payout_distribution_when_prize_pool_equals_minimum_x_vulnerable.sol" "incorrect-payout-distribution-when-prize-pool-equals-minimum-x"
run_clean_test "incorrect-payout-distribution-when-prize-pool-equals-minimum-x" "incorrect_payout_distribution_when_prize_pool_equals_minimum_x_clean.sol" "incorrect-payout-distribution-when-prize-pool-equals-minimum-x (clean)"
