run_test "incorrect-accounting-bug-of-the-ydusd-vault-leads-to-total-l-x" "incorrect_accounting_bug_of_the_ydusd_vault_leads_to_total_l_x_vulnerable.sol" "incorrect-accounting-bug-of-the-ydusd-vault-leads-to-total-l-x"
run_clean_test "incorrect-accounting-bug-of-the-ydusd-vault-leads-to-total-l-x" "incorrect_accounting_bug_of_the_ydusd_vault_leads_to_total_l_x_clean.sol" "incorrect-accounting-bug-of-the-ydusd-vault-leads-to-total-l-x (clean)"
