run_test "incorrect-withdrawable-check-in-withdrawstrategyfunds" "incorrect_withdrawable_check_in_withdrawstrategyfunds_vulnerable.sol" "incorrect-withdrawable-check-in-withdrawstrategyfunds"
run_clean_test "incorrect-withdrawable-check-in-withdrawstrategyfunds" "incorrect_withdrawable_check_in_withdrawstrategyfunds_clean.sol" "incorrect-withdrawable-check-in-withdrawstrategyfunds (clean)"
