run_test "incorrect-calculation-of-newcumulativeindex-in-function-calc-x" "incorrect_calculation_of_newcumulativeindex_in_function_calc_x_vulnerable.sol" "incorrect-calculation-of-newcumulativeindex-in-function-calc-x"
run_clean_test "incorrect-calculation-of-newcumulativeindex-in-function-calc-x" "incorrect_calculation_of_newcumulativeindex_in_function_calc_x_clean.sol" "incorrect-calculation-of-newcumulativeindex-in-function-calc-x (clean)"
