run_test "incorrect-len-for-dummy-batchentry" "incorrect_len_for_dummy_batchentry_vulnerable.sol" "incorrect-len-for-dummy-batchentry"
run_clean_test "incorrect-len-for-dummy-batchentry" "incorrect_len_for_dummy_batchentry_clean.sol" "incorrect-len-for-dummy-batchentry (clean)"
