run_test "incorrect-shortcut-used-in-isliquidatable" "incorrect_shortcut_used_in_isliquidatable_vulnerable.sol" "incorrect-shortcut-used-in-isliquidatable"
run_clean_test "incorrect-shortcut-used-in-isliquidatable" "incorrect_shortcut_used_in_isliquidatable_clean.sol" "incorrect-shortcut-used-in-isliquidatable (clean)"
