run_test "incorrect-calculation-of-the-minimum-amount-for-yeet" "incorrect_calculation_of_the_minimum_amount_for_yeet_vulnerable.sol" "incorrect-calculation-of-the-minimum-amount-for-yeet"
run_clean_test "incorrect-calculation-of-the-minimum-amount-for-yeet" "incorrect_calculation_of_the_minimum_amount_for_yeet_clean.sol" "incorrect-calculation-of-the-minimum-amount-for-yeet (clean)"
