run_test "incorrect-weights-calculation" "incorrect_weights_calculation_vulnerable.sol" "incorrect-weights-calculation"
run_clean_test "incorrect-weights-calculation" "incorrect_weights_calculation_clean.sol" "incorrect-weights-calculation (clean)"
