run_test "inconsistent-minimum-requirement-for-agenttimelockedoperationwin" "inconsistent_minimum_requirement_for_agenttimelockedoperationwin_vulnerable.sol" "inconsistent-minimum-requirement-for-agenttimelockedoperationwin"
run_clean_test "inconsistent-minimum-requirement-for-agenttimelockedoperationwin" "inconsistent_minimum_requirement_for_agenttimelockedoperationwin_clean.sol" "inconsistent-minimum-requirement-for-agenttimelockedoperationwin (clean)"
