run_test "incorrect-calculation-in-terminate-function" "incorrect_calculation_in_terminate_function_vulnerable.sol" "incorrect-calculation-in-terminate-function"
run_clean_test "incorrect-calculation-in-terminate-function" "incorrect_calculation_in_terminate_function_clean.sol" "incorrect-calculation-in-terminate-function (clean)"
