run_test "incorrect-supply-fund-transferral-in-function-leave-can-be-e-x" "incorrect_supply_fund_transferral_in_function_leave_can_be_e_x_vulnerable.sol" "incorrect-supply-fund-transferral-in-function-leave-can-be-e-x"
run_clean_test "incorrect-supply-fund-transferral-in-function-leave-can-be-e-x" "incorrect_supply_fund_transferral_in_function_leave_can_be_e_x_clean.sol" "incorrect-supply-fund-transferral-in-function-leave-can-be-e-x (clean)"
