run_test "incorrect-funding-rate-calculation-due-to-rounding" "incorrect_funding_rate_calculation_due_to_rounding_vulnerable.sol" "incorrect-funding-rate-calculation-due-to-rounding"
run_clean_test "incorrect-funding-rate-calculation-due-to-rounding" "incorrect_funding_rate_calculation_due_to_rounding_clean.sol" "incorrect-funding-rate-calculation-due-to-rounding (clean)"
