run_test "incorrect-length-calculation-on-subtokenset" "incorrect_length_calculation_on_subtokenset_vulnerable.sol" "incorrect-length-calculation-on-subtokenset"
run_clean_test "incorrect-length-calculation-on-subtokenset" "incorrect_length_calculation_on_subtokenset_clean.sol" "incorrect-length-calculation-on-subtokenset (clean)"
