run_test "incorrect-calculation-in-refundgas" "incorrect_calculation_in_refundgas_vulnerable.sol" "incorrect-calculation-in-refundgas"
run_clean_test "incorrect-calculation-in-refundgas" "incorrect_calculation_in_refundgas_clean.sol" "incorrect-calculation-in-refundgas (clean)"
