run_test "ineffective-fee-collection-on-micro-transactions-20" "ineffective_fee_collection_on_micro_transactions_20_vulnerable.sol" "ineffective-fee-collection-on-micro-transactions-20"
run_clean_test "ineffective-fee-collection-on-micro-transactions-20" "ineffective_fee_collection_on_micro_transactions_20_clean.sol" "ineffective-fee-collection-on-micro-transactions-20 (clean)"
