run_test "inflation-protection-time-can-not-be-up-to-a-year-as-intende-x" "inflation_protection_time_can_not_be_up_to_a_year_as_intende_x_vulnerable.sol" "inflation-protection-time-can-not-be-up-to-a-year-as-intende-x"
run_clean_test "inflation-protection-time-can-not-be-up-to-a-year-as-intende-x" "inflation_protection_time_can_not_be_up_to_a_year_as_intende_x_clean.sol" "inflation-protection-time-can-not-be-up-to-a-year-as-intende-x (clean)"
