run_test "initialize-check-is-missing-from-some-functions" "initialize_check_is_missing_from_some_functions_vulnerable.sol" "initialize-check-is-missing-from-some-functions"
run_clean_test "initialize-check-is-missing-from-some-functions" "initialize_check_is_missing_from_some_functions_clean.sol" "initialize-check-is-missing-from-some-functions (clean)"
