run_test "ism-configuration-of-mailboxcomponent-is-disregarded" "ism_configuration_of_mailboxcomponent_is_disregarded_vulnerable.sol" "ism-configuration-of-mailboxcomponent-is-disregarded"
run_clean_test "ism-configuration-of-mailboxcomponent-is-disregarded" "ism_configuration_of_mailboxcomponent_is_disregarded_clean.sol" "ism-configuration-of-mailboxcomponent-is-disregarded (clean)"
