run_test "isolaterepay-lack-of-check-onbehalf-nftowner" "isolaterepay_lack_of_check_onbehalf_nftowner_vulnerable.sol" "isolaterepay-lack-of-check-onbehalf-nftowner"
run_clean_test "isolaterepay-lack-of-check-onbehalf-nftowner" "isolaterepay_lack_of_check_onbehalf_nftowner_clean.sol" "isolaterepay-lack-of-check-onbehalf-nftowner (clean)"
