run_test "it-is-nearly-impossble-for-liquidators-to-use-liquidateposit-x" "it_is_nearly_impossble_for_liquidators_to_use_liquidateposit_x_vulnerable.sol" "it-is-nearly-impossble-for-liquidators-to-use-liquidateposit-x"
run_clean_test "it-is-nearly-impossble-for-liquidators-to-use-liquidateposit-x" "it_is_nearly_impossble_for_liquidators_to_use_liquidateposit_x_clean.sol" "it-is-nearly-impossble-for-liquidators-to-use-liquidateposit-x (clean)"
