run_test "it-s-still-not-possible-to-set-pool-s-protocol-fees" "it_s_still_not_possible_to_set_pool_s_protocol_fees_vulnerable.sol" "it-s-still-not-possible-to-set-pool-s-protocol-fees"
run_clean_test "it-s-still-not-possible-to-set-pool-s-protocol-fees" "it_s_still_not_possible_to_set_pool_s_protocol_fees_clean.sol" "it-s-still-not-possible-to-set-pool-s-protocol-fees (clean)"
