run_test "jagged-proof-can-be-made-substantially-smaller-by-removing-p-x" "jagged_proof_can_be_made_substantially_smaller_by_removing_p_x_vulnerable.sol" "jagged-proof-can-be-made-substantially-smaller-by-removing-p-x"
run_clean_test "jagged-proof-can-be-made-substantially-smaller-by-removing-p-x" "jagged_proof_can_be_made_substantially_smaller_by_removing_p_x_clean.sol" "jagged-proof-can-be-made-substantially-smaller-by-removing-p-x (clean)"
