run_test "json-rpc-filtercriteria-addresses-are-unbound-and-can-be-use-x" "json_rpc_filtercriteria_addresses_are_unbound_and_can_be_use_x_vulnerable.sol" "json-rpc-filtercriteria-addresses-are-unbound-and-can-be-use-x"
run_clean_test "json-rpc-filtercriteria-addresses-are-unbound-and-can-be-use-x" "json_rpc_filtercriteria_addresses_are_unbound_and_can_be_use_x_clean.sol" "json-rpc-filtercriteria-addresses-are-unbound-and-can-be-use-x (clean)"
