run_test "killgauge-will-lead-to-wrong-calculation-of-emission" "killgauge_will_lead_to_wrong_calculation_of_emission_vulnerable.sol" "killgauge-will-lead-to-wrong-calculation-of-emission"
run_clean_test "killgauge-will-lead-to-wrong-calculation-of-emission" "killgauge_will_lead_to_wrong_calculation_of_emission_clean.sol" "killgauge-will-lead-to-wrong-calculation-of-emission (clean)"
