run_test "lack-of-maturity-check-for-non-founder-users-allowing-immedi-x" "lack_of_maturity_check_for_non_founder_users_allowing_immedi_x_vulnerable.sol" "lack-of-maturity-check-for-non-founder-users-allowing-immedi-x"
run_clean_test "lack-of-maturity-check-for-non-founder-users-allowing-immedi-x" "lack_of_maturity_check_for_non_founder_users_allowing_immedi_x_clean.sol" "lack-of-maturity-check-for-non-founder-users-allowing-immedi-x (clean)"
