run_test "lack-of-slippage-protection-during-rebalancing-would-allow-f-x" "lack_of_slippage_protection_during_rebalancing_would_allow_f_x_vulnerable.sol" "lack-of-slippage-protection-during-rebalancing-would-allow-f-x"
run_clean_test "lack-of-slippage-protection-during-rebalancing-would-allow-f-x" "lack_of_slippage_protection_during_rebalancing_would_allow_f_x_clean.sol" "lack-of-slippage-protection-during-rebalancing-would-allow-f-x (clean)"
