run_test "lack-of-documentation-42" "lack_of_documentation_42_vulnerable.sol" "lack-of-documentation-42"
run_clean_test "lack-of-documentation-42" "lack_of_documentation_42_clean.sol" "lack-of-documentation-42 (clean)"
