run_test "lack-of-slippage-control-in-auravault-deposit" "lack_of_slippage_control_in_auravault_deposit_vulnerable.sol" "lack-of-slippage-control-in-auravault-deposit"
run_clean_test "lack-of-slippage-control-in-auravault-deposit" "lack_of_slippage_control_in_auravault_deposit_clean.sol" "lack-of-slippage-control-in-auravault-deposit (clean)"
