run_test "lastrps-could-be-set-to-0" "lastrps_could_be_set_to_0_vulnerable.sol" "lastrps-could-be-set-to-0"
run_clean_test "lastrps-could-be-set-to-0" "lastrps_could_be_set_to_0_clean.sol" "lastrps-could-be-set-to-0 (clean)"
