run_test "last-holder-can-t-exit-zero-supply-unstake-reverts" "last_holder_can_t_exit_zero_supply_unstake_reverts_vulnerable.sol" "last-holder-can-t-exit-zero-supply-unstake-reverts"
run_clean_test "last-holder-can-t-exit-zero-supply-unstake-reverts" "last_holder_can_t_exit_zero_supply_unstake_reverts_clean.sol" "last-holder-can-t-exit-zero-supply-unstake-reverts (clean)"
