run_test "liquidation-should-not-be-paused" "liquidation_should_not_be_paused_vulnerable.sol" "liquidation-should-not-be-paused"
run_clean_test "liquidation-should-not-be-paused" "liquidation_should_not_be_paused_clean.sol" "liquidation-should-not-be-paused (clean)"
