run_test "liquidation-doesn-t-account-for-penalty-when-calculating-col-x" "liquidation_doesn_t_account_for_penalty_when_calculating_col_x_vulnerable.sol" "liquidation-doesn-t-account-for-penalty-when-calculating-col-x"
run_clean_test "liquidation-doesn-t-account-for-penalty-when-calculating-col-x" "liquidation_doesn_t_account_for_penalty_when_calculating_col_x_clean.sol" "liquidation-doesn-t-account-for-penalty-when-calculating-col-x (clean)"
