run_test "liquidator-can-receive-an-inflated-bonus-against-plps-on-pan-x" "liquidator_can_receive_an_inflated_bonus_against_plps_on_pan_x_vulnerable.sol" "liquidator-can-receive-an-inflated-bonus-against-plps-on-pan-x"
run_clean_test "liquidator-can-receive-an-inflated-bonus-against-plps-on-pan-x" "liquidator_can_receive_an_inflated_bonus_against_plps_on_pan_x_clean.sol" "liquidator-can-receive-an-inflated-bonus-against-plps-on-pan-x (clean)"
