run_test "liquiditymanager-missing-onerc721received-callback" "liquiditymanager_missing_onerc721received_callback_vulnerable.sol" "liquiditymanager-missing-onerc721received-callback"
run_clean_test "liquiditymanager-missing-onerc721received-callback" "liquiditymanager_missing_onerc721received_callback_clean.sol" "liquiditymanager-missing-onerc721received-callback (clean)"
