run_test "locked-deposit-discount-should-be-accounted-at-lock-time" "locked_deposit_discount_should_be_accounted_at_lock_time_vulnerable.sol" "locked-deposit-discount-should-be-accounted-at-lock-time"
run_clean_test "locked-deposit-discount-should-be-accounted-at-lock-time" "locked_deposit_discount_should_be_accounted_at_lock_time_clean.sol" "locked-deposit-discount-should-be-accounted-at-lock-time (clean)"
