run_test "loss-of-user-funds-in-virtualtoken-s-cashin-function-due-to--x" "loss_of_user_funds_in_virtualtoken_s_cashin_function_due_to__x_vulnerable.sol" "loss-of-user-funds-in-virtualtoken-s-cashin-function-due-to--x"
run_clean_test "loss-of-user-funds-in-virtualtoken-s-cashin-function-due-to--x" "loss_of_user_funds_in_virtualtoken_s_cashin_function_due_to__x_clean.sol" "loss-of-user-funds-in-virtualtoken-s-cashin-function-due-to--x (clean)"
