run_test "lp-pool-cap-may-be-exceeded-on-drawing-settlement" "lp_pool_cap_may_be_exceeded_on_drawing_settlement_vulnerable.sol" "lp-pool-cap-may-be-exceeded-on-drawing-settlement"
run_clean_test "lp-pool-cap-may-be-exceeded-on-drawing-settlement" "lp_pool_cap_may_be_exceeded_on_drawing_settlement_clean.sol" "lp-pool-cap-may-be-exceeded-on-drawing-settlement (clean)"
