run_test "lp-yield-is-not-reserved" "lp_yield_is_not_reserved_vulnerable.sol" "lp-yield-is-not-reserved"
run_clean_test "lp-yield-is-not-reserved" "lp_yield_is_not_reserved_clean.sol" "lp-yield-is-not-reserved (clean)"
