run_test "malicious-borrower-can-evade-full-liquidation-in-cdpvault-li-x" "malicious_borrower_can_evade_full_liquidation_in_cdpvault_li_x_vulnerable.sol" "malicious-borrower-can-evade-full-liquidation-in-cdpvault-li-x"
run_clean_test "malicious-borrower-can-evade-full-liquidation-in-cdpvault-li-x" "malicious_borrower_can_evade_full_liquidation_in_cdpvault_li_x_clean.sol" "malicious-borrower-can-evade-full-liquidation-in-cdpvault-li-x (clean)"
