run_test "malicious-libraries-may-not-be-removable" "malicious_libraries_may_not_be_removable_vulnerable.sol" "malicious-libraries-may-not-be-removable"
run_clean_test "malicious-libraries-may-not-be-removable" "malicious_libraries_may_not_be_removable_clean.sol" "malicious-libraries-may-not-be-removable (clean)"
