run_test "malicious-user-can-spam-orders-that-expire-immediately-or-ca-x" "malicious_user_can_spam_orders_that_expire_immediately_or_ca_x_vulnerable.sol" "malicious-user-can-spam-orders-that-expire-immediately-or-ca-x"
run_clean_test "malicious-user-can-spam-orders-that-expire-immediately-or-ca-x" "malicious_user_can_spam_orders_that_expire_immediately_or_ca_x_clean.sol" "malicious-user-can-spam-orders-that-expire-immediately-or-ca-x (clean)"
