run_test "malicious-user-can-game-curator-rewards-distribution-model-i-x" "malicious_user_can_game_curator_rewards_distribution_model_i_x_vulnerable.sol" "malicious-user-can-game-curator-rewards-distribution-model-i-x"
run_clean_test "malicious-user-can-game-curator-rewards-distribution-model-i-x" "malicious_user_can_game_curator_rewards_distribution_model_i_x_clean.sol" "malicious-user-can-game-curator-rewards-distribution-model-i-x (clean)"
