run_test "malicious-validators-can-flood-stake-unstake-requests-to-dos-x" "malicious_validators_can_flood_stake_unstake_requests_to_dos_x_vulnerable.sol" "malicious-validators-can-flood-stake-unstake-requests-to-dos-x"
run_clean_test "malicious-validators-can-flood-stake-unstake-requests-to-dos-x" "malicious_validators_can_flood_stake_unstake_requests_to_dos_x_clean.sol" "malicious-validators-can-flood-stake-unstake-requests-to-dos-x (clean)"
