run_test "malicious-actor-can-abuse-the-minimum-shares-check-in-stakin-x" "malicious_actor_can_abuse_the_minimum_shares_check_in_stakin_x_vulnerable.sol" "malicious-actor-can-abuse-the-minimum-shares-check-in-stakin-x"
run_clean_test "malicious-actor-can-abuse-the-minimum-shares-check-in-stakin-x" "malicious_actor_can_abuse_the_minimum_shares_check_in_stakin_x_clean.sol" "malicious-actor-can-abuse-the-minimum-shares-check-in-stakin-x (clean)"
