run_test "malicious-actors-can-manipulate-the" "malicious_actors_can_manipulate_the_vulnerable.sol" "malicious-actors-can-manipulate-the"
run_clean_test "malicious-actors-can-manipulate-the" "malicious_actors_can_manipulate_the_clean.sol" "malicious-actors-can-manipulate-the (clean)"
