run_test "manager-should-not-be-removable" "manager_should_not_be_removable_vulnerable.sol" "manager-should-not-be-removable"
run_clean_test "manager-should-not-be-removable" "manager_should_not_be_removable_clean.sol" "manager-should-not-be-removable (clean)"
