run_test "markets-entered-automatically-can-be-exited" "markets_entered_automatically_can_be_exited_vulnerable.sol" "markets-entered-automatically-can-be-exited"
run_clean_test "markets-entered-automatically-can-be-exited" "markets_entered_automatically_can_be_exited_clean.sol" "markets-entered-automatically-can-be-exited (clean)"
