run_test "maxsellpercent-will-be-broken-when-a-vesting-is-delisted-aft-x" "maxsellpercent_will_be_broken_when_a_vesting_is_delisted_aft_x_vulnerable.sol" "maxsellpercent-will-be-broken-when-a-vesting-is-delisted-aft-x"
run_clean_test "maxsellpercent-will-be-broken-when-a-vesting-is-delisted-aft-x" "maxsellpercent_will_be_broken_when_a_vesting_is_delisted_aft_x_clean.sol" "maxsellpercent-will-be-broken-when-a-vesting-is-delisted-aft-x (clean)"
