run_test "maxwithdraw-does-not-account-for-fees" "maxwithdraw_does_not_account_for_fees_vulnerable.sol" "maxwithdraw-does-not-account-for-fees"
run_clean_test "maxwithdraw-does-not-account-for-fees" "maxwithdraw_does_not_account_for_fees_clean.sol" "maxwithdraw-does-not-account-for-fees (clean)"
