run_test "minievm-fails-to-charge-intrinsic-gas-costs-for-evm-transact-x" "minievm_fails_to_charge_intrinsic_gas_costs_for_evm_transact_x_vulnerable.sol" "minievm-fails-to-charge-intrinsic-gas-costs-for-evm-transact-x"
run_clean_test "minievm-fails-to-charge-intrinsic-gas-costs-for-evm-transact-x" "minievm_fails_to_charge_intrinsic_gas_costs_for_evm_transact_x_clean.sol" "minievm-fails-to-charge-intrinsic-gas-costs-for-evm-transact-x (clean)"
