run_test "misleading-exerciseprice-comment" "misleading_exerciseprice_comment_vulnerable.sol" "misleading-exerciseprice-comment"
run_clean_test "misleading-exerciseprice-comment" "misleading_exerciseprice_comment_clean.sol" "misleading-exerciseprice-comment (clean)"
