run_test "misleading-colliding-signatures-can-be-crafted" "misleading_colliding_signatures_can_be_crafted_vulnerable.sol" "misleading-colliding-signatures-can-be-crafted"
run_clean_test "misleading-colliding-signatures-can-be-crafted" "misleading_colliding_signatures_can_be_crafted_clean.sol" "misleading-colliding-signatures-can-be-crafted (clean)"
