run_test "mismatched-function-parameter-types-affecting-inheritance" "mismatched_function_parameter_types_affecting_inheritance_vulnerable.sol" "mismatched-function-parameter-types-affecting-inheritance"
run_clean_test "mismatched-function-parameter-types-affecting-inheritance" "mismatched_function_parameter_types_affecting_inheritance_clean.sol" "mismatched-function-parameter-types-affecting-inheritance (clean)"
