run_test "missing-check-for-maxsellpercent-10000-you-should-check-that-x" "missing_check_for_maxsellpercent_10000_you_should_check_that_x_vulnerable.sol" "missing-check-for-maxsellpercent-10000-you-should-check-that-x"
run_clean_test "missing-check-for-maxsellpercent-10000-you-should-check-that-x" "missing_check_for_maxsellpercent_10000_you_should_check_that_x_clean.sol" "missing-check-for-maxsellpercent-10000-you-should-check-that-x (clean)"
