run_test "missing-slippage-limits-allow-front-running" "missing_slippage_limits_allow_front_running_vulnerable.sol" "missing-slippage-limits-allow-front-running"
run_clean_test "missing-slippage-limits-allow-front-running" "missing_slippage_limits_allow_front_running_clean.sol" "missing-slippage-limits-allow-front-running (clean)"
