run_test "modexp-has-arbitrary-gas-limit" "modexp_has_arbitrary_gas_limit_vulnerable.sol" "modexp-has-arbitrary-gas-limit"
run_clean_test "modexp-has-arbitrary-gas-limit" "modexp_has_arbitrary_gas_limit_clean.sol" "modexp-has-arbitrary-gas-limit (clean)"
