run_test "msm-segments-drop-too-many-elements-on-invalid-input-if-num--x" "msm_segments_drop_too_many_elements_on_invalid_input_if_num__x_vulnerable.sol" "msm-segments-drop-too-many-elements-on-invalid-input-if-num--x"
run_clean_test "msm-segments-drop-too-many-elements-on-invalid-input-if-num--x" "msm_segments_drop_too_many_elements_on_invalid_input_if_num__x_clean.sol" "msm-segments-drop-too-many-elements-on-invalid-input-if-num--x (clean)"
