run_test "multiple-redeems-of-the-same-deposit-are-possible" "multiple_redeems_of_the_same_deposit_are_possible_vulnerable.sol" "multiple-redeems-of-the-same-deposit-are-possible"
run_clean_test "multiple-redeems-of-the-same-deposit-are-possible" "multiple_redeems_of_the_same_deposit_are_possible_clean.sol" "multiple-redeems-of-the-same-deposit-are-possible (clean)"
