run_test "multicall-can-be-used-to-call-buynow-with-untrusted-msg-va" "multicall_can_be_used_to_call_buynow_with_untrusted_msg_va_vulnerable.sol" "multicall-can-be-used-to-call-buynow-with-untrusted-msg-va"
run_clean_test "multicall-can-be-used-to-call-buynow-with-untrusted-msg-va" "multicall_can_be_used_to_call_buynow_with_untrusted_msg_va_clean.sol" "multicall-can-be-used-to-call-buynow-with-untrusted-msg-va (clean)"
