run_test "mvenft-dos-can-t-trigger-the-vote-function" "mvenft_dos_can_t_trigger_the_vote_function_vulnerable.sol" "mvenft-dos-can-t-trigger-the-vote-function"
run_clean_test "mvenft-dos-can-t-trigger-the-vote-function" "mvenft_dos_can_t_trigger_the_vote_function_clean.sol" "mvenft-dos-can-t-trigger-the-vote-function (clean)"
