run_test "new-strategy-can-not-work-due-to-insufficient-allowance" "new_strategy_can_not_work_due_to_insufficient_allowance_vulnerable.sol" "new-strategy-can-not-work-due-to-insufficient-allowance"
run_clean_test "new-strategy-can-not-work-due-to-insufficient-allowance" "new_strategy_can_not_work_due_to_insufficient_allowance_clean.sol" "new-strategy-can-not-work-due-to-insufficient-allowance (clean)"
