run_test "no-check-if-arbitrum-optimism-l2-sequencer-is-down-in-chainl-x" "no_check_if_arbitrum_optimism_l2_sequencer_is_down_in_chainl_x_vulnerable.sol" "no-check-if-arbitrum-optimism-l2-sequencer-is-down-in-chainl-x"
run_clean_test "no-check-if-arbitrum-optimism-l2-sequencer-is-down-in-chainl-x" "no_check_if_arbitrum_optimism_l2_sequencer_is_down_in_chainl_x_clean.sol" "no-check-if-arbitrum-optimism-l2-sequencer-is-down-in-chainl-x (clean)"
