run_test "no-slippage-protection-during-adding-liquidity-to-uniswap" "no_slippage_protection_during_adding_liquidity_to_uniswap_vulnerable.sol" "no-slippage-protection-during-adding-liquidity-to-uniswap"
run_clean_test "no-slippage-protection-during-adding-liquidity-to-uniswap" "no_slippage_protection_during_adding_liquidity_to_uniswap_clean.sol" "no-slippage-protection-during-adding-liquidity-to-uniswap (clean)"
