run_test "non-whitelisted-recipient-can-receive-shares" "non_whitelisted_recipient_can_receive_shares_vulnerable.sol" "non-whitelisted-recipient-can-receive-shares"
run_clean_test "non-whitelisted-recipient-can-receive-shares" "non_whitelisted_recipient_can_receive_shares_clean.sol" "non-whitelisted-recipient-can-receive-shares (clean)"
