run_test "non-queued-transactions-can-be-canceled-30" "non_queued_transactions_can_be_canceled_30_vulnerable.sol" "non-queued-transactions-can-be-canceled-30"
run_clean_test "non-queued-transactions-can-be-canceled-30" "non_queued_transactions_can_be_canceled_30_clean.sol" "non-queued-transactions-can-be-canceled-30 (clean)"
