run_test "nonce-can-be-duplicated" "nonce_can_be_duplicated_vulnerable.sol" "nonce-can-be-duplicated"
run_clean_test "nonce-can-be-duplicated" "nonce_can_be_duplicated_clean.sol" "nonce-can-be-duplicated (clean)"
