run_test "nonpayable-bridgetokenconnext-function" "nonpayable_bridgetokenconnext_function_vulnerable.sol" "nonpayable-bridgetokenconnext-function"
run_clean_test "nonpayable-bridgetokenconnext-function" "nonpayable_bridgetokenconnext_function_clean.sol" "nonpayable-bridgetokenconnext-function (clean)"
