run_test "not-verifying-that-transaction-initiator-is-the-actual-parti-x" "not_verifying_that_transaction_initiator_is_the_actual_parti_x_vulnerable.sol" "not-verifying-that-transaction-initiator-is-the-actual-parti-x"
run_clean_test "not-verifying-that-transaction-initiator-is-the-actual-parti-x" "not_verifying_that_transaction_initiator_is_the_actual_parti_x_clean.sol" "not-verifying-that-transaction-initiator-is-the-actual-parti-x (clean)"
