run_test "number-of-coupon-tokens-obtained-from-the-auction-may-differ-x" "number_of_coupon_tokens_obtained_from_the_auction_may_differ_x_vulnerable.sol" "number-of-coupon-tokens-obtained-from-the-auction-may-differ-x"
run_clean_test "number-of-coupon-tokens-obtained-from-the-auction-may-differ-x" "number_of_coupon_tokens_obtained_from_the_auction_may_differ_x_clean.sol" "number-of-coupon-tokens-obtained-from-the-auction-may-differ-x (clean)"
