run_test "order-could-be-executed-after-the-end-of-the-pool-s-duration" "order_could_be_executed_after_the_end_of_the_pool_s_duration_vulnerable.sol" "order-could-be-executed-after-the-end-of-the-pool-s-duration"
run_clean_test "order-could-be-executed-after-the-end-of-the-pool-s-duration" "order_could_be_executed_after_the_end_of_the_pool_s_duration_clean.sol" "order-could-be-executed-after-the-end-of-the-pool-s-duration (clean)"
