run_test "order-double-linked-list-is-broken-because-order-prevorderid-x" "order_double_linked_list_is_broken_because_order_prevorderid_x_vulnerable.sol" "order-double-linked-list-is-broken-because-order-prevorderid-x"
run_clean_test "order-double-linked-list-is-broken-because-order-prevorderid-x" "order_double_linked_list_is_broken_because_order_prevorderid_x_clean.sol" "order-double-linked-list-is-broken-because-order-prevorderid-x (clean)"
