run_test "out-of-bounds-read-from-toaddressbytes-allows-undefined" "out_of_bounds_read_from_toaddressbytes_allows_undefined_vulnerable.sol" "out-of-bounds-read-from-toaddressbytes-allows-undefined"
run_clean_test "out-of-bounds-read-from-toaddressbytes-allows-undefined" "out_of_bounds_read_from_toaddressbytes_allows_undefined_clean.sol" "out-of-bounds-read-from-toaddressbytes-allows-undefined (clean)"
