run_test "ownable-contracts-allow-renouncing" "ownable_contracts_allow_renouncing_vulnerable.sol" "ownable-contracts-allow-renouncing"
run_clean_test "ownable-contracts-allow-renouncing" "ownable_contracts_allow_renouncing_clean.sol" "ownable-contracts-allow-renouncing (clean)"
