run_test "partial-deprivileging-of-the-safetymodule-s-manager" "partial_deprivileging_of_the_safetymodule_s_manager_vulnerable.sol" "partial-deprivileging-of-the-safetymodule-s-manager"
run_clean_test "partial-deprivileging-of-the-safetymodule-s-manager" "partial_deprivileging_of_the_safetymodule_s_manager_clean.sol" "partial-deprivileging-of-the-safetymodule-s-manager (clean)"
