run_test "payable-functions-exist-with-no-way-to-withdraw-funds" "payable_functions_exist_with_no_way_to_withdraw_funds_vulnerable.sol" "payable-functions-exist-with-no-way-to-withdraw-funds"
run_clean_test "payable-functions-exist-with-no-way-to-withdraw-funds" "payable_functions_exist_with_no_way_to_withdraw_funds_clean.sol" "payable-functions-exist-with-no-way-to-withdraw-funds (clean)"
