run_test "pendlelporacle-fetchandvalidate-uses-chainlink-s-deprecated--x" "pendlelporacle_fetchandvalidate_uses_chainlink_s_deprecated__x_vulnerable.sol" "pendlelporacle-fetchandvalidate-uses-chainlink-s-deprecated--x"
run_clean_test "pendlelporacle-fetchandvalidate-uses-chainlink-s-deprecated--x" "pendlelporacle_fetchandvalidate_uses_chainlink_s_deprecated__x_clean.sol" "pendlelporacle-fetchandvalidate-uses-chainlink-s-deprecated--x (clean)"
