run_test "permit-doesn-t-work-with-dai" "permit_doesn_t_work_with_dai_vulnerable.sol" "permit-doesn-t-work-with-dai"
run_clean_test "permit-doesn-t-work-with-dai" "permit_doesn_t_work_with_dai_clean.sol" "permit-doesn-t-work-with-dai (clean)"
