run_test "permissionless-creation-of-new-subnets-under-gateway-will-le-x" "permissionless_creation_of_new_subnets_under_gateway_will_le_x_vulnerable.sol" "permissionless-creation-of-new-subnets-under-gateway-will-le-x"
run_clean_test "permissionless-creation-of-new-subnets-under-gateway-will-le-x" "permissionless_creation_of_new_subnets_under_gateway_will_le_x_clean.sol" "permissionless-creation-of-new-subnets-under-gateway-will-le-x (clean)"
