run_test "phinft1155-sol-contract-will-not-be-upgradeable-contrary-to--x" "phinft1155_sol_contract_will_not_be_upgradeable_contrary_to__x_vulnerable.sol" "phinft1155-sol-contract-will-not-be-upgradeable-contrary-to--x"
run_clean_test "phinft1155-sol-contract-will-not-be-upgradeable-contrary-to--x" "phinft1155_sol_contract_will_not_be_upgradeable_contrary_to__x_clean.sol" "phinft1155-sol-contract-will-not-be-upgradeable-contrary-to--x (clean)"
