run_test "poolv3-repaycreditaccount-use-incorrect-share-converting-fun-x" "poolv3_repaycreditaccount_use_incorrect_share_converting_fun_x_vulnerable.sol" "poolv3-repaycreditaccount-use-incorrect-share-converting-fun-x"
run_clean_test "poolv3-repaycreditaccount-use-incorrect-share-converting-fun-x" "poolv3_repaycreditaccount_use_incorrect_share_converting_fun_x_clean.sol" "poolv3-repaycreditaccount-use-incorrect-share-converting-fun-x (clean)"
