run_test "positionaction4626-sol-onwithdraw-should-withdraw-from" "positionaction4626_sol_onwithdraw_should_withdraw_from_vulnerable.sol" "positionaction4626-sol-onwithdraw-should-withdraw-from"
run_clean_test "positionaction4626-sol-onwithdraw-should-withdraw-from" "positionaction4626_sol_onwithdraw_should_withdraw_from_clean.sol" "positionaction4626-sol-onwithdraw-should-withdraw-from (clean)"
