run_test "positionaction4626-increaselever-will-always-revert" "positionaction4626_increaselever_will_always_revert_vulnerable.sol" "positionaction4626-increaselever-will-always-revert"
run_clean_test "positionaction4626-increaselever-will-always-revert" "positionaction4626_increaselever_will_always_revert_clean.sol" "positionaction4626-increaselever-will-always-revert (clean)"
