run_test "positionaction20-onwithdraw" "positionaction20_onwithdraw_vulnerable.sol" "positionaction20-onwithdraw"
run_clean_test "positionaction20-onwithdraw" "positionaction20_onwithdraw_clean.sol" "positionaction20-onwithdraw (clean)"
