run_test "positionactionpendle-sol-onwithdraw-does-not-have-slippage-p-x" "positionactionpendle_sol_onwithdraw_does_not_have_slippage_p_x_vulnerable.sol" "positionactionpendle-sol-onwithdraw-does-not-have-slippage-p-x"
run_clean_test "positionactionpendle-sol-onwithdraw-does-not-have-slippage-p-x" "positionactionpendle_sol_onwithdraw_does_not_have_slippage_p_x_clean.sol" "positionactionpendle-sol-onwithdraw-does-not-have-slippage-p-x (clean)"
