run_test "positionaction4626-sol-onwithdraw-should-withdraw-from-posit-x" "positionaction4626_sol_onwithdraw_should_withdraw_from_posit_x_vulnerable.sol" "positionaction4626-sol-onwithdraw-should-withdraw-from-posit-x"
run_clean_test "positionaction4626-sol-onwithdraw-should-withdraw-from-posit-x" "positionaction4626_sol_onwithdraw_should_withdraw_from_posit_x_clean.sol" "positionaction4626-sol-onwithdraw-should-withdraw-from-posit-x (clean)"
