run_test "possible-fee-leeching" "possible_fee_leeching_vulnerable.sol" "possible-fee-leeching"
run_clean_test "possible-fee-leeching" "possible_fee_leeching_clean.sol" "possible-fee-leeching (clean)"
