run_test "possible-race-condition-in-valsync-init" "possible_race_condition_in_valsync_init_vulnerable.sol" "possible-race-condition-in-valsync-init"
run_clean_test "possible-race-condition-in-valsync-init" "possible_race_condition_in_valsync_init_clean.sol" "possible-race-condition-in-valsync-init (clean)"
