run_test "possible-dos-while-claiming-erc-1155" "possible_dos_while_claiming_erc_1155_vulnerable.sol" "possible-dos-while-claiming-erc-1155"
run_clean_test "possible-dos-while-claiming-erc-1155" "possible_dos_while_claiming_erc_1155_clean.sol" "possible-dos-while-claiming-erc-1155 (clean)"
