run_test "possible-rounding-issues-in-mantletokenmigrator" "possible_rounding_issues_in_mantletokenmigrator_vulnerable.sol" "possible-rounding-issues-in-mantletokenmigrator"
run_clean_test "possible-rounding-issues-in-mantletokenmigrator" "possible_rounding_issues_in_mantletokenmigrator_clean.sol" "possible-rounding-issues-in-mantletokenmigrator (clean)"
