run_test "possible-runtime-crash-when-setting-hash-lookups" "possible_runtime_crash_when_setting_hash_lookups_vulnerable.sol" "possible-runtime-crash-when-setting-hash-lookups"
run_clean_test "possible-runtime-crash-when-setting-hash-lookups" "possible_runtime_crash_when_setting_hash_lookups_clean.sol" "possible-runtime-crash-when-setting-hash-lookups (clean)"
