run_test "preminting-can-stake-from-premint-supply" "preminting_can_stake_from_premint_supply_vulnerable.sol" "preminting-can-stake-from-premint-supply"
run_clean_test "preminting-can-stake-from-premint-supply" "preminting_can_stake_from_premint_supply_clean.sol" "preminting-can-stake-from-premint-supply (clean)"
