run_test "protocol-fee-calculation-is-reversed" "protocol_fee_calculation_is_reversed_vulnerable.sol" "protocol-fee-calculation-is-reversed"
run_clean_test "protocol-fee-calculation-is-reversed" "protocol_fee_calculation_is_reversed_clean.sol" "protocol-fee-calculation-is-reversed (clean)"
