run_test "rebalancing-would-revert-on-morpho-in-some-cases-proof-of-co-x" "rebalancing_would_revert_on_morpho_in_some_cases_proof_of_co_x_vulnerable.sol" "rebalancing-would-revert-on-morpho-in-some-cases-proof-of-co-x"
run_clean_test "rebalancing-would-revert-on-morpho-in-some-cases-proof-of-co-x" "rebalancing_would_revert_on_morpho_in_some_cases_proof_of_co_x_clean.sol" "rebalancing-would-revert-on-morpho-in-some-cases-proof-of-co-x (clean)"
