run_test "rebalance-will-be-completely-dossed-if-okx-commision-rate-go-x" "rebalance_will_be_completely_dossed_if_okx_commision_rate_go_x_vulnerable.sol" "rebalance-will-be-completely-dossed-if-okx-commision-rate-go-x"
run_clean_test "rebalance-will-be-completely-dossed-if-okx-commision-rate-go-x" "rebalance_will_be_completely_dossed_if_okx_commision_rate_go_x_clean.sol" "rebalance-will-be-completely-dossed-if-okx-commision-rate-go-x (clean)"
