run_test "redeem-functions-do-not-work-correctly" "redeem_functions_do_not_work_correctly_vulnerable.sol" "redeem-functions-do-not-work-correctly"
run_clean_test "redeem-functions-do-not-work-correctly" "redeem_functions_do_not_work_correctly_clean.sol" "redeem-functions-do-not-work-correctly (clean)"
