run_test "redelegation-cooldown-calculation-issue" "redelegation_cooldown_calculation_issue_vulnerable.sol" "redelegation-cooldown-calculation-issue"
run_clean_test "redelegation-cooldown-calculation-issue" "redelegation_cooldown_calculation_issue_clean.sol" "redelegation-cooldown-calculation-issue (clean)"
