run_test "redeem-functions-do-not-work-correctly-26" "redeem_functions_do_not_work_correctly_26_vulnerable.sol" "redeem-functions-do-not-work-correctly-26"
run_clean_test "redeem-functions-do-not-work-correctly-26" "redeem_functions_do_not_work_correctly_26_clean.sol" "redeem-functions-do-not-work-correctly-26 (clean)"
