run_test "reentrancy-in-the-manage-function" "reentrancy_in_the_manage_function_vulnerable.sol" "reentrancy-in-the-manage-function"
run_clean_test "reentrancy-in-the-manage-function" "reentrancy_in_the_manage_function_clean.sol" "reentrancy-in-the-manage-function (clean)"
