run_test "reentrancy-in-the-manage-function-13" "reentrancy_in_the_manage_function_13_vulnerable.sol" "reentrancy-in-the-manage-function-13"
run_clean_test "reentrancy-in-the-manage-function-13" "reentrancy_in_the_manage_function_13_clean.sol" "reentrancy-in-the-manage-function-13 (clean)"
