run_test "reentrancy-in-function-leave-leads-to-halting-of-bottom-up-c-x" "reentrancy_in_function_leave_leads_to_halting_of_bottom_up_c_x_vulnerable.sol" "reentrancy-in-function-leave-leads-to-halting-of-bottom-up-c-x"
run_clean_test "reentrancy-in-function-leave-leads-to-halting-of-bottom-up-c-x" "reentrancy_in_function_leave_leads_to_halting_of_bottom_up_c_x_clean.sol" "reentrancy-in-function-leave-leads-to-halting-of-bottom-up-c-x (clean)"
