run_test "refunds-to-eoas-on-unsuccessful-cross-chain-messages-fail-le-x" "refunds_to_eoas_on_unsuccessful_cross_chain_messages_fail_le_x_vulnerable.sol" "refunds-to-eoas-on-unsuccessful-cross-chain-messages-fail-le-x"
run_clean_test "refunds-to-eoas-on-unsuccessful-cross-chain-messages-fail-le-x" "refunds_to_eoas_on_unsuccessful_cross_chain_messages_fail_le_x_clean.sol" "refunds-to-eoas-on-unsuccessful-cross-chain-messages-fail-le-x (clean)"
