run_test "refunds-sent-to-incorrect-addresses-in-certain-cases" "refunds_sent_to_incorrect_addresses_in_certain_cases_vulnerable.sol" "refunds-sent-to-incorrect-addresses-in-certain-cases"
run_clean_test "refunds-sent-to-incorrect-addresses-in-certain-cases" "refunds_sent_to_incorrect_addresses_in_certain_cases_clean.sol" "refunds-sent-to-incorrect-addresses-in-certain-cases (clean)"
