run_test "refunds-sent-to-tx-origin" "refunds_sent_to_tx_origin_vulnerable.sol" "refunds-sent-to-tx-origin"
run_clean_test "refunds-sent-to-tx-origin" "refunds_sent_to_tx_origin_clean.sol" "refunds-sent-to-tx-origin (clean)"
