run_test "relayers-can-drain-curve-asset-managers" "relayers_can_drain_curve_asset_managers_vulnerable.sol" "relayers-can-drain-curve-asset-managers"
run_clean_test "relayers-can-drain-curve-asset-managers" "relayers_can_drain_curve_asset_managers_clean.sol" "relayers-can-drain-curve-asset-managers (clean)"
