run_test "reliance-on-incorrect-hash-in-ipccontract-sol-leads-to-perma-x" "reliance_on_incorrect_hash_in_ipccontract_sol_leads_to_perma_x_vulnerable.sol" "reliance-on-incorrect-hash-in-ipccontract-sol-leads-to-perma-x"
run_clean_test "reliance-on-incorrect-hash-in-ipccontract-sol-leads-to-perma-x" "reliance_on_incorrect_hash_in_ipccontract_sol_leads_to_perma_x_clean.sol" "reliance-on-incorrect-hash-in-ipccontract-sol-leads-to-perma-x (clean)"
