run_test "remove-renounceownership-functionality" "remove_renounceownership_functionality_vulnerable.sol" "remove-renounceownership-functionality"
run_clean_test "remove-renounceownership-functionality" "remove_renounceownership_functionality_clean.sol" "remove-renounceownership-functionality (clean)"
