run_test "removal-from-callbackauthorized-is-not-conclusive" "removal_from_callbackauthorized_is_not_conclusive_vulnerable.sol" "removal-from-callbackauthorized-is-not-conclusive"
run_clean_test "removal-from-callbackauthorized-is-not-conclusive" "removal_from_callbackauthorized_is_not_conclusive_clean.sol" "removal-from-callbackauthorized-is-not-conclusive (clean)"
