run_test "remove-launchpadsell-function-from-megarouterfacet" "remove_launchpadsell_function_from_megarouterfacet_vulnerable.sol" "remove-launchpadsell-function-from-megarouterfacet"
run_clean_test "remove-launchpadsell-function-from-megarouterfacet" "remove_launchpadsell_function_from_megarouterfacet_clean.sol" "remove-launchpadsell-function-from-megarouterfacet (clean)"
