run_test "removing-confirmed-milestones-is-possible" "removing_confirmed_milestones_is_possible_vulnerable.sol" "removing-confirmed-milestones-is-possible"
run_clean_test "removing-confirmed-milestones-is-possible" "removing_confirmed_milestones_is_possible_clean.sol" "removing-confirmed-milestones-is-possible (clean)"
