run_test "renumbered-vault-validator-ids" "renumbered_vault_validator_ids_vulnerable.sol" "renumbered-vault-validator-ids"
run_clean_test "renumbered-vault-validator-ids" "renumbered_vault_validator_ids_clean.sol" "renumbered-vault-validator-ids (clean)"
