run_test "repeated-validator-ids-could-be-passed-in-batchsendexitrequest" "repeated_validator_ids_could_be_passed_in_batchsendexitrequest_vulnerable.sol" "repeated-validator-ids-could-be-passed-in-batchsendexitrequest"
run_clean_test "repeated-validator-ids-could-be-passed-in-batchsendexitrequest" "repeated_validator_ids_could_be_passed_in_batchsendexitrequest_clean.sol" "repeated-validator-ids-could-be-passed-in-batchsendexitrequest (clean)"
