run_test "return-value-from-transferfrom-should-be-checked" "return_value_from_transferfrom_should_be_checked_vulnerable.sol" "return-value-from-transferfrom-should-be-checked"
run_clean_test "return-value-from-transferfrom-should-be-checked" "return_value_from_transferfrom_should_be_checked_clean.sol" "return-value-from-transferfrom-should-be-checked (clean)"
