run_test "rewards-may-be-spread-out-among-the-wrong-time-period-due-to-x" "rewards_may_be_spread_out_among_the_wrong_time_period_due_to_x_vulnerable.sol" "rewards-may-be-spread-out-among-the-wrong-time-period-due-to-x"
run_clean_test "rewards-may-be-spread-out-among-the-wrong-time-period-due-to-x" "rewards_may_be_spread_out_among_the_wrong_time_period_due_to_x_clean.sol" "rewards-may-be-spread-out-among-the-wrong-time-period-due-to-x (clean)"
