run_test "risks-of-default-configurations" "risks_of_default_configurations_vulnerable.sol" "risks-of-default-configurations"
run_clean_test "risks-of-default-configurations" "risks_of_default_configurations_clean.sol" "risks-of-default-configurations (clean)"
