run_test "rounding-errors-in-computing-fee" "rounding_errors_in_computing_fee_vulnerable.sol" "rounding-errors-in-computing-fee"
run_clean_test "rounding-errors-in-computing-fee" "rounding_errors_in_computing_fee_clean.sol" "rounding-errors-in-computing-fee (clean)"
