run_test "rounding-errors-in-computing-fee-13" "rounding_errors_in_computing_fee_13_vulnerable.sol" "rounding-errors-in-computing-fee-13"
run_clean_test "rounding-errors-in-computing-fee-13" "rounding_errors_in_computing_fee_13_clean.sol" "rounding-errors-in-computing-fee-13 (clean)"
