run_test "royalties-would-round-down-to-0-when-the-unit-of-exchange-ha-x" "royalties_would_round_down_to_0_when_the_unit_of_exchange_ha_x_vulnerable.sol" "royalties-would-round-down-to-0-when-the-unit-of-exchange-ha-x"
run_clean_test "royalties-would-round-down-to-0-when-the-unit-of-exchange-ha-x" "royalties_would_round_down_to_0_when_the_unit_of_exchange_ha_x_clean.sol" "royalties-would-round-down-to-0-when-the-unit-of-exchange-ha-x (clean)"
