run_test "score-in-agentdao-is-not-an-accurate-measure-and-can-be-arti-x" "score_in_agentdao_is_not_an_accurate_measure_and_can_be_arti_x_vulnerable.sol" "score-in-agentdao-is-not-an-accurate-measure-and-can-be-arti-x"
run_clean_test "score-in-agentdao-is-not-an-accurate-measure-and-can-be-arti-x" "score_in_agentdao_is_not_an_accurate_measure_and_can_be_arti_x_clean.sol" "score-in-agentdao-is-not-an-accurate-measure-and-can-be-arti-x (clean)"
