run_test "sending-tokens-to-a-strategy-when-totalsupply-is-0-can-perma-x" "sending_tokens_to_a_strategy_when_totalsupply_is_0_can_perma_x_vulnerable.sol" "sending-tokens-to-a-strategy-when-totalsupply-is-0-can-perma-x"
run_clean_test "sending-tokens-to-a-strategy-when-totalsupply-is-0-can-perma-x" "sending_tokens_to_a_strategy_when_totalsupply_is_0_can_perma_x_clean.sol" "sending-tokens-to-a-strategy-when-totalsupply-is-0-can-perma-x (clean)"
