run_test "set-range-limits-for-parameters" "set_range_limits_for_parameters_vulnerable.sol" "set-range-limits-for-parameters"
run_clean_test "set-range-limits-for-parameters" "set_range_limits_for_parameters_clean.sol" "set-range-limits-for-parameters (clean)"
