run_test "setter-functions-don-t-check-for-value-changes-this-issue-re-x" "setter_functions_don_t_check_for_value_changes_this_issue_re_x_vulnerable.sol" "setter-functions-don-t-check-for-value-changes-this-issue-re-x"
run_clean_test "setter-functions-don-t-check-for-value-changes-this-issue-re-x" "setter_functions_don_t_check_for_value_changes_this_issue_re_x_clean.sol" "setter-functions-don-t-check-for-value-changes-this-issue-re-x (clean)"
