run_test "settlementsignatureverifier-s" "settlementsignatureverifier_s_vulnerable.sol" "settlementsignatureverifier-s"
run_clean_test "settlementsignatureverifier-s" "settlementsignatureverifier_s_clean.sol" "settlementsignatureverifier-s (clean)"
