run_test "settlement-contract-is-mistakenly-used-for-the-handler-contr-x" "settlement_contract_is_mistakenly_used_for_the_handler_contr_x_vulnerable.sol" "settlement-contract-is-mistakenly-used-for-the-handler-contr-x"
run_clean_test "settlement-contract-is-mistakenly-used-for-the-handler-contr-x" "settlement_contract_is_mistakenly_used_for_the_handler_contr_x_clean.sol" "settlement-contract-is-mistakenly-used-for-the-handler-contr-x (clean)"
