run_test "sharebalance-bloating-eventually-blocks-curator-rewards-dist-x" "sharebalance_bloating_eventually_blocks_curator_rewards_dist_x_vulnerable.sol" "sharebalance-bloating-eventually-blocks-curator-rewards-dist-x"
run_clean_test "sharebalance-bloating-eventually-blocks-curator-rewards-dist-x" "sharebalance_bloating_eventually_blocks_curator_rewards_dist_x_clean.sol" "sharebalance-bloating-eventually-blocks-curator-rewards-dist-x (clean)"
