run_test "signature-clash-allows-calls-to-transferreserve-to-steal-nft" "signature_clash_allows_calls_to_transferreserve_to_steal_nft_vulnerable.sol" "signature-clash-allows-calls-to-transferreserve-to-steal-nft"
run_clean_test "signature-clash-allows-calls-to-transferreserve-to-steal-nft" "signature_clash_allows_calls_to_transferreserve_to_steal_nft_clean.sol" "signature-clash-allows-calls-to-transferreserve-to-steal-nft (clean)"
