run_test "simultaneous-pool-starting-and-closing-is-possible" "simultaneous_pool_starting_and_closing_is_possible_vulnerable.sol" "simultaneous-pool-starting-and-closing-is-possible"
run_clean_test "simultaneous-pool-starting-and-closing-is-possible" "simultaneous_pool_starting_and_closing_is_possible_clean.sol" "simultaneous-pool-starting-and-closing-is-possible (clean)"
