run_test "since-the-cost-of-launching-a-new-pool-is-minimal-an-attacke-x" "since_the_cost_of_launching_a_new_pool_is_minimal_an_attacke_x_vulnerable.sol" "since-the-cost-of-launching-a-new-pool-is-minimal-an-attacke-x"
run_clean_test "since-the-cost-of-launching-a-new-pool-is-minimal-an-attacke-x" "since_the_cost_of_launching_a_new_pool_is_minimal_an_attacke_x_clean.sol" "since-the-cost-of-launching-a-new-pool-is-minimal-an-attacke-x (clean)"
