run_test "some-array-lengths-are-not-checked" "some_array_lengths_are_not_checked_vulnerable.sol" "some-array-lengths-are-not-checked"
run_clean_test "some-array-lengths-are-not-checked" "some_array_lengths_are_not_checked_clean.sol" "some-array-lengths-are-not-checked (clean)"
