run_test "spotdepositpermit2-can-be-temporarily-dos-ed-by-signature-fr-x" "spotdepositpermit2_can_be_temporarily_dos_ed_by_signature_fr_x_vulnerable.sol" "spotdepositpermit2-can-be-temporarily-dos-ed-by-signature-fr-x"
run_clean_test "spotdepositpermit2-can-be-temporarily-dos-ed-by-signature-fr-x" "spotdepositpermit2_can_be_temporarily_dos_ed_by_signature_fr_x_clean.sol" "spotdepositpermit2-can-be-temporarily-dos-ed-by-signature-fr-x (clean)"
