run_test "states-are-not-automatically-synced" "states_are_not_automatically_synced_vulnerable.sol" "states-are-not-automatically-synced"
run_clean_test "states-are-not-automatically-synced" "states_are_not_automatically_synced_clean.sol" "states-are-not-automatically-synced (clean)"
