run_test "storage-not-set-properly" "storage_not_set_properly_vulnerable.sol" "storage-not-set-properly"
run_clean_test "storage-not-set-properly" "storage_not_set_properly_clean.sol" "storage-not-set-properly (clean)"
