run_test "the-poolexposure-for-token1-is-erroneously-calculated-as-sho-x" "the_poolexposure_for_token1_is_erroneously_calculated_as_sho_x_vulnerable.sol" "the-poolexposure-for-token1-is-erroneously-calculated-as-sho-x"
run_clean_test "the-poolexposure-for-token1-is-erroneously-calculated-as-sho-x" "the_poolexposure_for_token1_is_erroneously_calculated_as_sho_x_clean.sol" "the-poolexposure-for-token1-is-erroneously-calculated-as-sho-x (clean)"
