run_test "the-authority-may-not-be-able-to-recreate-a-set-39" "the_authority_may_not_be_able_to_recreate_a_set_39_vulnerable.sol" "the-authority-may-not-be-able-to-recreate-a-set-39"
run_clean_test "the-authority-may-not-be-able-to-recreate-a-set-39" "the_authority_may_not_be_able_to_recreate_a_set_39_clean.sol" "the-authority-may-not-be-able-to-recreate-a-set-39 (clean)"
