run_test "the-voting-power-is-not-calculated-correctly-according-to-th-x" "the_voting_power_is_not_calculated_correctly_according_to_th_x_vulnerable.sol" "the-voting-power-is-not-calculated-correctly-according-to-th-x"
run_clean_test "the-voting-power-is-not-calculated-correctly-according-to-th-x" "the_voting_power_is_not_calculated_correctly_according_to_th_x_clean.sol" "the-voting-power-is-not-calculated-correctly-according-to-th-x (clean)"
