run_test "the-updatefunctioncondition-function-does-not-check-the-retu-x" "the_updatefunctioncondition_function_does_not_check_the_retu_x_vulnerable.sol" "the-updatefunctioncondition-function-does-not-check-the-retu-x"
run_clean_test "the-updatefunctioncondition-function-does-not-check-the-retu-x" "the_updatefunctioncondition_function_does_not_check_the_retu_x_clean.sol" "the-updatefunctioncondition-function-does-not-check-the-retu-x (clean)"
