run_test "the-totalstaked-function-name-could-be-confusing" "the_totalstaked_function_name_could_be_confusing_vulnerable.sol" "the-totalstaked-function-name-could-be-confusing"
run_clean_test "the-totalstaked-function-name-could-be-confusing" "the_totalstaked_function_name_could_be_confusing_clean.sol" "the-totalstaked-function-name-could-be-confusing (clean)"
