run_test "the-sendoft-function-call-can-be-blocked" "the_sendoft_function_call_can_be_blocked_vulnerable.sol" "the-sendoft-function-call-can-be-blocked"
run_clean_test "the-sendoft-function-call-can-be-blocked" "the_sendoft_function_call_can_be_blocked_clean.sol" "the-sendoft-function-call-can-be-blocked (clean)"
