run_test "the-utilizationfee-is-divided-by-an-extra-precision-6" "the_utilizationfee_is_divided_by_an_extra_precision_6_vulnerable.sol" "the-utilizationfee-is-divided-by-an-extra-precision-6"
run_clean_test "the-utilizationfee-is-divided-by-an-extra-precision-6" "the_utilizationfee_is_divided_by_an_extra_precision_6_clean.sol" "the-utilizationfee-is-divided-by-an-extra-precision-6 (clean)"
