run_test "the-authority-may-not-be-able-to-recreate-a-set" "the_authority_may_not_be_able_to_recreate_a_set_vulnerable.sol" "the-authority-may-not-be-able-to-recreate-a-set"
run_clean_test "the-authority-may-not-be-able-to-recreate-a-set" "the_authority_may_not_be_able_to_recreate_a_set_clean.sol" "the-authority-may-not-be-able-to-recreate-a-set (clean)"
