run_test "the-function-safetransfer-can-fail-silently" "the_function_safetransfer_can_fail_silently_vulnerable.sol" "the-function-safetransfer-can-fail-silently"
run_clean_test "the-function-safetransfer-can-fail-silently" "the_function_safetransfer_can_fail_silently_clean.sol" "the-function-safetransfer-can-fail-silently (clean)"
