run_test "the-transferavax-function-allows-arbitrary-transfers" "the_transferavax_function_allows_arbitrary_transfers_vulnerable.sol" "the-transferavax-function-allows-arbitrary-transfers"
run_clean_test "the-transferavax-function-allows-arbitrary-transfers" "the_transferavax_function_allows_arbitrary_transfers_clean.sol" "the-transferavax-function-allows-arbitrary-transfers (clean)"
