run_test "the-lendertotalfees-can-be-mistakenly-reset" "the_lendertotalfees_can_be_mistakenly_reset_vulnerable.sol" "the-lendertotalfees-can-be-mistakenly-reset"
run_clean_test "the-lendertotalfees-can-be-mistakenly-reset" "the_lendertotalfees_can_be_mistakenly_reset_clean.sol" "the-lendertotalfees-can-be-mistakenly-reset (clean)"
