run_test "the-claimidtoclaimindexarray-mapping-is-not-reset-in-the" "the_claimidtoclaimindexarray_mapping_is_not_reset_in_the_vulnerable.sol" "the-claimidtoclaimindexarray-mapping-is-not-reset-in-the"
run_clean_test "the-claimidtoclaimindexarray-mapping-is-not-reset-in-the" "the_claimidtoclaimindexarray_mapping_is_not_reset_in_the_clean.sol" "the-claimidtoclaimindexarray-mapping-is-not-reset-in-the (clean)"
