run_test "the-value-of-groupscollaterals-could-exceed-groupmaxcollateral" "the_value_of_groupscollaterals_could_exceed_groupmaxcollateral_vulnerable.sol" "the-value-of-groupscollaterals-could-exceed-groupmaxcollateral"
run_clean_test "the-value-of-groupscollaterals-could-exceed-groupmaxcollateral" "the_value_of_groupscollaterals_could_exceed_groupmaxcollateral_clean.sol" "the-value-of-groupscollaterals-could-exceed-groupmaxcollateral (clean)"
