run_test "the-unregistering-of-vaults-can-be-dosed-by-a-malicious-user" "the_unregistering_of_vaults_can_be_dosed_by_a_malicious_user_vulnerable.sol" "the-unregistering-of-vaults-can-be-dosed-by-a-malicious-user"
run_clean_test "the-unregistering-of-vaults-can-be-dosed-by-a-malicious-user" "the_unregistering_of_vaults_can_be_dosed_by_a_malicious_user_clean.sol" "the-unregistering-of-vaults-can-be-dosed-by-a-malicious-user (clean)"
