run_test "the-withdrawal-of-multi-strategies-vault-could-be-dosed-whil-x" "the_withdrawal_of_multi_strategies_vault_could_be_dosed_whil_x_vulnerable.sol" "the-withdrawal-of-multi-strategies-vault-could-be-dosed-whil-x"
run_clean_test "the-withdrawal-of-multi-strategies-vault-could-be-dosed-whil-x" "the_withdrawal_of_multi_strategies_vault_could_be_dosed_whil_x_clean.sol" "the-withdrawal-of-multi-strategies-vault-could-be-dosed-whil-x (clean)"
