run_test "the-function-rebalancebyswapping-does-not-enforce-authorizat-x" "the_function_rebalancebyswapping_does_not_enforce_authorizat_x_vulnerable.sol" "the-function-rebalancebyswapping-does-not-enforce-authorizat-x"
run_clean_test "the-function-rebalancebyswapping-does-not-enforce-authorizat-x" "the_function_rebalancebyswapping_does_not_enforce_authorizat_x_clean.sol" "the-function-rebalancebyswapping-does-not-enforce-authorizat-x (clean)"
