run_test "the-value-of-queuedwithdrawaltvl-can-be-artificially-inflated" "the_value_of_queuedwithdrawaltvl_can_be_artificially_inflated_vulnerable.sol" "the-value-of-queuedwithdrawaltvl-can-be-artificially-inflated"
run_clean_test "the-value-of-queuedwithdrawaltvl-can-be-artificially-inflated" "the_value_of_queuedwithdrawaltvl_can_be_artificially_inflated_clean.sol" "the-value-of-queuedwithdrawaltvl-can-be-artificially-inflated (clean)"
