run_test "the-documenthashregistry-init-function-should-be-internal-15" "the_documenthashregistry_init_function_should_be_internal_15_vulnerable.sol" "the-documenthashregistry-init-function-should-be-internal-15"
run_clean_test "the-documenthashregistry-init-function-should-be-internal-15" "the_documenthashregistry_init_function_should_be_internal_15_clean.sol" "the-documenthashregistry-init-function-should-be-internal-15 (clean)"
