run_test "the-safepermit-call-can-be-front-run" "the_safepermit_call_can_be_front_run_vulnerable.sol" "the-safepermit-call-can-be-front-run"
run_clean_test "the-safepermit-call-can-be-front-run" "the_safepermit_call_can_be_front_run_clean.sol" "the-safepermit-call-can-be-front-run (clean)"
