run_test "the-collateral-that-liquidators-receive-is-valued-below-thei-x" "the_collateral_that_liquidators_receive_is_valued_below_thei_x_vulnerable.sol" "the-collateral-that-liquidators-receive-is-valued-below-thei-x"
run_clean_test "the-collateral-that-liquidators-receive-is-valued-below-thei-x" "the_collateral_that_liquidators_receive_is_valued_below_thei_x_clean.sol" "the-collateral-that-liquidators-receive-is-valued-below-thei-x (clean)"
