run_test "the-maxredeem-function-should-comply-with-erc-4626" "the_maxredeem_function_should_comply_with_erc_4626_vulnerable.sol" "the-maxredeem-function-should-comply-with-erc-4626"
run_clean_test "the-maxredeem-function-should-comply-with-erc-4626" "the_maxredeem_function_should_comply_with_erc_4626_clean.sol" "the-maxredeem-function-should-comply-with-erc-4626 (clean)"
