run_test "the-transferred-amount-may-not-reflect-msg-value" "the_transferred_amount_may_not_reflect_msg_value_vulnerable.sol" "the-transferred-amount-may-not-reflect-msg-value"
run_clean_test "the-transferred-amount-may-not-reflect-msg-value" "the_transferred_amount_may_not_reflect_msg_value_clean.sol" "the-transferred-amount-may-not-reflect-msg-value (clean)"
