run_test "the-vault-manager-is-unable-to-delete-the-last-strategy-from-x" "the_vault_manager_is_unable_to_delete_the_last_strategy_from_x_vulnerable.sol" "the-vault-manager-is-unable-to-delete-the-last-strategy-from-x"
run_clean_test "the-vault-manager-is-unable-to-delete-the-last-strategy-from-x" "the_vault_manager_is_unable_to_delete_the_last_strategy_from_x_clean.sol" "the-vault-manager-is-unable-to-delete-the-last-strategy-from-x (clean)"
