run_test "the-initialize-function-is-not-using-the-initializer-modi" "the_initialize_function_is_not_using_the_initializer_modi_vulnerable.sol" "the-initialize-function-is-not-using-the-initializer-modi"
run_clean_test "the-initialize-function-is-not-using-the-initializer-modi" "the_initialize_function_is_not_using_the_initializer_modi_clean.sol" "the-initialize-function-is-not-using-the-initializer-modi (clean)"
