run_test "the-current-implementation-is-incompatible-with-wbtc-as-coll-x" "the_current_implementation_is_incompatible_with_wbtc_as_coll_x_vulnerable.sol" "the-current-implementation-is-incompatible-with-wbtc-as-coll-x"
run_clean_test "the-current-implementation-is-incompatible-with-wbtc-as-coll-x" "the_current_implementation_is_incompatible_with_wbtc_as_coll_x_clean.sol" "the-current-implementation-is-incompatible-with-wbtc-as-coll-x (clean)"
