run_test "the-bond-expiry-can-be-in-the-past" "the_bond_expiry_can_be_in_the_past_vulnerable.sol" "the-bond-expiry-can-be-in-the-past"
run_clean_test "the-bond-expiry-can-be-in-the-past" "the_bond_expiry_can_be_in_the_past_clean.sol" "the-bond-expiry-can-be-in-the-past (clean)"
