run_test "the-ecrecover-function-allows-malleable-signatures" "the_ecrecover_function_allows_malleable_signatures_vulnerable.sol" "the-ecrecover-function-allows-malleable-signatures"
run_clean_test "the-ecrecover-function-allows-malleable-signatures" "the_ecrecover_function_allows_malleable_signatures_clean.sol" "the-ecrecover-function-allows-malleable-signatures (clean)"
