run_test "the-vaultaddress-validity-check-can-be-bypassed" "the_vaultaddress_validity_check_can_be_bypassed_vulnerable.sol" "the-vaultaddress-validity-check-can-be-bypassed"
run_clean_test "the-vaultaddress-validity-check-can-be-bypassed" "the_vaultaddress_validity_check_can_be_bypassed_clean.sol" "the-vaultaddress-validity-check-can-be-bypassed (clean)"
