run_test "the-calculation-of-assetsmax-is-incorrect" "the_calculation_of_assetsmax_is_incorrect_vulnerable.sol" "the-calculation-of-assetsmax-is-incorrect"
run_clean_test "the-calculation-of-assetsmax-is-incorrect" "the_calculation_of_assetsmax_is_incorrect_clean.sol" "the-calculation-of-assetsmax-is-incorrect (clean)"
