run_test "the-bot-won-t-be-able-to-unstake-or-repay-risky-positions-in-x" "the_bot_won_t_be_able_to_unstake_or_repay_risky_positions_in_x_vulnerable.sol" "the-bot-won-t-be-able-to-unstake-or-repay-risky-positions-in-x"
run_clean_test "the-bot-won-t-be-able-to-unstake-or-repay-risky-positions-in-x" "the_bot_won_t_be_able_to_unstake_or_repay_risky_positions_in_x_clean.sol" "the-bot-won-t-be-able-to-unstake-or-repay-risky-positions-in-x (clean)"
