run_test "the-underlyingfeeuba-is-not-included-in-the-calculation-of-r-x" "the_underlyingfeeuba_is_not_included_in_the_calculation_of_r_x_vulnerable.sol" "the-underlyingfeeuba-is-not-included-in-the-calculation-of-r-x"
run_clean_test "the-underlyingfeeuba-is-not-included-in-the-calculation-of-r-x" "the_underlyingfeeuba_is_not_included_in_the_calculation_of_r_x_clean.sol" "the-underlyingfeeuba-is-not-included-in-the-calculation-of-r-x (clean)"
