run_test "the-addfee-functions-can-repeat-receivers-36" "the_addfee_functions_can_repeat_receivers_36_vulnerable.sol" "the-addfee-functions-can-repeat-receivers-36"
run_clean_test "the-addfee-functions-can-repeat-receivers-36" "the_addfee_functions_can_repeat_receivers_36_clean.sol" "the-addfee-functions-can-repeat-receivers-36 (clean)"
