run_test "the-governance-may-fail-to-set-the-fee" "the_governance_may_fail_to_set_the_fee_vulnerable.sol" "the-governance-may-fail-to-set-the-fee"
run_clean_test "the-governance-may-fail-to-set-the-fee" "the_governance_may_fail_to_set_the_fee_clean.sol" "the-governance-may-fail-to-set-the-fee (clean)"
