run_test "the-voterupgradeablev2-createv3gauge-function-incorrectly-us-x" "the_voterupgradeablev2_createv3gauge_function_incorrectly_us_x_vulnerable.sol" "the-voterupgradeablev2-createv3gauge-function-incorrectly-us-x"
run_clean_test "the-voterupgradeablev2-createv3gauge-function-incorrectly-us-x" "the_voterupgradeablev2_createv3gauge_function_incorrectly_us_x_clean.sol" "the-voterupgradeablev2-createv3gauge-function-incorrectly-us-x (clean)"
