run_test "the-strategysupplymorpho-allow-to-use-wrong-token-in" "the_strategysupplymorpho_allow_to_use_wrong_token_in_vulnerable.sol" "the-strategysupplymorpho-allow-to-use-wrong-token-in"
run_clean_test "the-strategysupplymorpho-allow-to-use-wrong-token-in" "the_strategysupplymorpho_allow_to_use_wrong_token_in_clean.sol" "the-strategysupplymorpho-allow-to-use-wrong-token-in (clean)"
