run_test "the-maxwithdraw-functionality-is-broken" "the_maxwithdraw_functionality_is_broken_vulnerable.sol" "the-maxwithdraw-functionality-is-broken"
run_clean_test "the-maxwithdraw-functionality-is-broken" "the_maxwithdraw_functionality_is_broken_clean.sol" "the-maxwithdraw-functionality-is-broken (clean)"
