run_test "the-signature-may-be-too-short" "the_signature_may_be_too_short_vulnerable.sol" "the-signature-may-be-too-short"
run_clean_test "the-signature-may-be-too-short" "the_signature_may_be_too_short_clean.sol" "the-signature-may-be-too-short (clean)"
