run_test "the-migrate-function-can-be-recalled" "the_migrate_function_can_be_recalled_vulnerable.sol" "the-migrate-function-can-be-recalled"
run_clean_test "the-migrate-function-can-be-recalled" "the_migrate_function_can_be_recalled_clean.sol" "the-migrate-function-can-be-recalled (clean)"
