run_test "the-checkcap-function-is-missing-a-check" "the_checkcap_function_is_missing_a_check_vulnerable.sol" "the-checkcap-function-is-missing-a-check"
run_clean_test "the-checkcap-function-is-missing-a-check" "the_checkcap_function_is_missing_a_check_clean.sol" "the-checkcap-function-is-missing-a-check (clean)"
