run_test "the-lastdistributiontimestamp-variable-should-be-always-upda-x" "the_lastdistributiontimestamp_variable_should_be_always_upda_x_vulnerable.sol" "the-lastdistributiontimestamp-variable-should-be-always-upda-x"
run_clean_test "the-lastdistributiontimestamp-variable-should-be-always-upda-x" "the_lastdistributiontimestamp_variable_should_be_always_upda_x_clean.sol" "the-lastdistributiontimestamp-variable-should-be-always-upda-x (clean)"
