run_test "the-abi-encodecall-function-should-be-used-instead-of-abi" "the_abi_encodecall_function_should_be_used_instead_of_abi_vulnerable.sol" "the-abi-encodecall-function-should-be-used-instead-of-abi"
run_clean_test "the-abi-encodecall-function-should-be-used-instead-of-abi" "the_abi_encodecall_function_should_be_used_instead_of_abi_clean.sol" "the-abi-encodecall-function-should-be-used-instead-of-abi (clean)"
