run_test "the-claimrecord-amountwritten-is-not-reset-in-the-redeem" "the_claimrecord_amountwritten_is_not_reset_in_the_redeem_vulnerable.sol" "the-claimrecord-amountwritten-is-not-reset-in-the-redeem"
run_clean_test "the-claimrecord-amountwritten-is-not-reset-in-the-redeem" "the_claimrecord_amountwritten_is_not_reset_in_the_redeem_clean.sol" "the-claimrecord-amountwritten-is-not-reset-in-the-redeem (clean)"
