run_test "the-claimreceivercontract-variable-is-not-fully-validated" "the_claimreceivercontract_variable_is_not_fully_validated_vulnerable.sol" "the-claimreceivercontract-variable-is-not-fully-validated"
run_clean_test "the-claimreceivercontract-variable-is-not-fully-validated" "the_claimreceivercontract_variable_is_not_fully_validated_clean.sol" "the-claimreceivercontract-variable-is-not-fully-validated (clean)"
