run_test "there-is-no-refund-mechanism-in-chakrasettlement-processcros-x" "there_is_no_refund_mechanism_in_chakrasettlement_processcros_x_vulnerable.sol" "there-is-no-refund-mechanism-in-chakrasettlement-processcros-x"
run_clean_test "there-is-no-refund-mechanism-in-chakrasettlement-processcros-x" "there_is_no_refund_mechanism_in_chakrasettlement_processcros_x_clean.sol" "there-is-no-refund-mechanism-in-chakrasettlement-processcros-x (clean)"
