run_test "there-is-no-check-if-the-discountpct-10000-when-creating-a-l-x" "there_is_no_check_if_the_discountpct_10000_when_creating_a_l_x_vulnerable.sol" "there-is-no-check-if-the-discountpct-10000-when-creating-a-l-x"
run_clean_test "there-is-no-check-if-the-discountpct-10000-when-creating-a-l-x" "there_is_no_check_if_the_discountpct_10000_when_creating_a_l_x_clean.sol" "there-is-no-check-if-the-discountpct-10000-when-creating-a-l-x (clean)"
