run_test "there-is-no-way-to-unsupport-a-token-to-start-supporting-a-t-x" "there_is_no_way_to_unsupport_a_token_to_start_supporting_a_t_x_vulnerable.sol" "there-is-no-way-to-unsupport-a-token-to-start-supporting-a-t-x"
run_clean_test "there-is-no-way-to-unsupport-a-token-to-start-supporting-a-t-x" "there_is_no_way_to_unsupport_a_token_to_start_supporting_a_t_x_clean.sol" "there-is-no-way-to-unsupport-a-token-to-start-supporting-a-t-x (clean)"
