run_test "there-is-a-calculation-error-in-auravault-redeem" "there_is_a_calculation_error_in_auravault_redeem_vulnerable.sol" "there-is-a-calculation-error-in-auravault-redeem"
run_clean_test "there-is-a-calculation-error-in-auravault-redeem" "there_is_a_calculation_error_in_auravault_redeem_clean.sol" "there-is-a-calculation-error-in-auravault-redeem (clean)"
