run_test "this-will-be-fixed-with-correct-decrposition-code-we-won-t-m-x" "this_will_be_fixed_with_correct_decrposition_code_we_won_t_m_x_vulnerable.sol" "this-will-be-fixed-with-correct-decrposition-code-we-won-t-m-x"
run_clean_test "this-will-be-fixed-with-correct-decrposition-code-we-won-t-m-x" "this_will_be_fixed_with_correct_decrposition_code_we_won_t_m_x_clean.sol" "this-will-be-fixed-with-correct-decrposition-code-we-won-t-m-x (clean)"
