run_test "thorchain-will-be-informed-wrongly-about-the-unsuccessful-et-x" "thorchain_will_be_informed_wrongly_about_the_unsuccessful_et_x_vulnerable.sol" "thorchain-will-be-informed-wrongly-about-the-unsuccessful-et-x"
run_clean_test "thorchain-will-be-informed-wrongly-about-the-unsuccessful-et-x" "thorchain_will_be_informed_wrongly_about_the_unsuccessful_et_x_clean.sol" "thorchain-will-be-informed-wrongly-about-the-unsuccessful-et-x (clean)"
