run_test "tokenbalance-limit-could-be-bypassed-by-deploying-tokenmanager" "tokenbalance_limit_could_be_bypassed_by_deploying_tokenmanager_vulnerable.sol" "tokenbalance-limit-could-be-bypassed-by-deploying-tokenmanager"
run_clean_test "tokenbalance-limit-could-be-bypassed-by-deploying-tokenmanager" "tokenbalance_limit_could_be_bypassed_by_deploying_tokenmanager_clean.sol" "tokenbalance-limit-could-be-bypassed-by-deploying-tokenmanager (clean)"
