run_test "tokentrade-event-parameters-can-be-incorrect" "tokentrade_event_parameters_can_be_incorrect_vulnerable.sol" "tokentrade-event-parameters-can-be-incorrect"
run_clean_test "tokentrade-event-parameters-can-be-incorrect" "tokentrade_event_parameters_can_be_incorrect_clean.sol" "tokentrade-event-parameters-can-be-incorrect (clean)"
