run_test "tokens-from-previous-migrations-may-be-lost" "tokens_from_previous_migrations_may_be_lost_vulnerable.sol" "tokens-from-previous-migrations-may-be-lost"
run_clean_test "tokens-from-previous-migrations-may-be-lost" "tokens_from_previous_migrations_may_be_lost_clean.sol" "tokens-from-previous-migrations-may-be-lost (clean)"
