run_test "transfer-block-bypass" "transfer_block_bypass_vulnerable.sol" "transfer-block-bypass"
run_clean_test "transfer-block-bypass" "transfer_block_bypass_clean.sol" "transfer-block-bypass (clean)"
