run_test "un-encoded-claimid-can-be-used-in-write" "un_encoded_claimid_can_be_used_in_write_vulnerable.sol" "un-encoded-claimid-can-be-used-in-write"
run_clean_test "un-encoded-claimid-can-be-used-in-write" "un_encoded_claimid_can_be_used_in_write_clean.sol" "un-encoded-claimid-can-be-used-in-write (clean)"
