run_test "unable-to-update-lot-size-as-clobmanager-does-not-expose-suc-x" "unable_to_update_lot_size_as_clobmanager_does_not_expose_suc_x_vulnerable.sol" "unable-to-update-lot-size-as-clobmanager-does-not-expose-suc-x"
run_clean_test "unable-to-update-lot-size-as-clobmanager-does-not-expose-suc-x" "unable_to_update_lot_size_as_clobmanager_does_not_expose_suc_x_clean.sol" "unable-to-update-lot-size-as-clobmanager-does-not-expose-suc-x (clean)"
