run_test "unauthorized-increase-of-maxsellpercent" "unauthorized_increase_of_maxsellpercent_vulnerable.sol" "unauthorized-increase-of-maxsellpercent"
run_clean_test "unauthorized-increase-of-maxsellpercent" "unauthorized_increase_of_maxsellpercent_clean.sol" "unauthorized-increase-of-maxsellpercent (clean)"
