run_test "unclaimed-withdrawal-requests-may-be-incorrectly-finalized" "unclaimed_withdrawal_requests_may_be_incorrectly_finalized_vulnerable.sol" "unclaimed-withdrawal-requests-may-be-incorrectly-finalized"
run_clean_test "unclaimed-withdrawal-requests-may-be-incorrectly-finalized" "unclaimed_withdrawal_requests_may_be_incorrectly_finalized_clean.sol" "unclaimed-withdrawal-requests-may-be-incorrectly-finalized (clean)"
