run_test "undocumented-assumption-for-select-with-bitmask" "undocumented_assumption_for_select_with_bitmask_vulnerable.sol" "undocumented-assumption-for-select-with-bitmask"
run_clean_test "undocumented-assumption-for-select-with-bitmask" "undocumented_assumption_for_select_with_bitmask_clean.sol" "undocumented-assumption-for-select-with-bitmask (clean)"
