run_test "unhandled-return-value-of-collateral-transfer" "unhandled_return_value_of_collateral_transfer_vulnerable.sol" "unhandled-return-value-of-collateral-transfer"
run_clean_test "unhandled-return-value-of-collateral-transfer" "unhandled_return_value_of_collateral_transfer_clean.sol" "unhandled-return-value-of-collateral-transfer (clean)"
