run_test "unimplemented-tls-responses-42" "unimplemented_tls_responses_42_vulnerable.sol" "unimplemented-tls-responses-42"
run_clean_test "unimplemented-tls-responses-42" "unimplemented_tls_responses_42_clean.sol" "unimplemented-tls-responses-42 (clean)"
