run_test "uninitialized-return-value-in-addstage-function" "uninitialized_return_value_in_addstage_function_vulnerable.sol" "uninitialized-return-value-in-addstage-function"
run_clean_test "uninitialized-return-value-in-addstage-function" "uninitialized_return_value_in_addstage_function_clean.sol" "uninitialized-return-value-in-addstage-function (clean)"
