run_test "uninitialized-uniswap-v3-pool-could-be-used-for-price-manipu-x" "uninitialized_uniswap_v3_pool_could_be_used_for_price_manipu_x_vulnerable.sol" "uninitialized-uniswap-v3-pool-could-be-used-for-price-manipu-x"
run_clean_test "uninitialized-uniswap-v3-pool-could-be-used-for-price-manipu-x" "uninitialized_uniswap_v3_pool_could_be_used_for_price_manipu_x_clean.sol" "uninitialized-uniswap-v3-pool-could-be-used-for-price-manipu-x (clean)"
