run_test "uniswap-liquidity-positions-can-get-stolen" "uniswap_liquidity_positions_can_get_stolen_vulnerable.sol" "uniswap-liquidity-positions-can-get-stolen"
run_clean_test "uniswap-liquidity-positions-can-get-stolen" "uniswap_liquidity_positions_can_get_stolen_clean.sol" "uniswap-liquidity-positions-can-get-stolen (clean)"
