run_test "unnecessary-casting-of-salt-parameter" "unnecessary_casting_of_salt_parameter_vulnerable.sol" "unnecessary-casting-of-salt-parameter"
run_clean_test "unnecessary-casting-of-salt-parameter" "unnecessary_casting_of_salt_parameter_clean.sol" "unnecessary-casting-of-salt-parameter (clean)"
