run_test "unneeded-receive-function-12" "unneeded_receive_function_12_vulnerable.sol" "unneeded-receive-function-12"
run_clean_test "unneeded-receive-function-12" "unneeded_receive_function_12_clean.sol" "unneeded-receive-function-12 (clean)"
