run_test "unoptimized-getclaimableamount-function" "unoptimized_getclaimableamount_function_vulnerable.sol" "unoptimized-getclaimableamount-function"
run_clean_test "unoptimized-getclaimableamount-function" "unoptimized_getclaimableamount_function_clean.sol" "unoptimized-getclaimableamount-function (clean)"
