run_test "unsafe-options-version-check-in-oapp" "unsafe_options_version_check_in_oapp_vulnerable.sol" "unsafe-options-version-check-in-oapp"
run_clean_test "unsafe-options-version-check-in-oapp" "unsafe_options_version_check_in_oapp_clean.sol" "unsafe-options-version-check-in-oapp (clean)"
