run_test "unused-variables-should-be-removed" "unused_variables_should_be_removed_vulnerable.sol" "unused-variables-should-be-removed"
run_clean_test "unused-variables-should-be-removed" "unused_variables_should_be_removed_clean.sol" "unused-variables-should-be-removed (clean)"
