run_test "unused-or-unreachable-functionality-should-be-removed" "unused_or_unreachable_functionality_should_be_removed_vulnerable.sol" "unused-or-unreachable-functionality-should-be-removed"
run_clean_test "unused-or-unreachable-functionality-should-be-removed" "unused_or_unreachable_functionality_should_be_removed_clean.sol" "unused-or-unreachable-functionality-should-be-removed (clean)"
