run_test "updating-asset-collateral-params-can-lead-to-liquidate-borro-x" "updating_asset_collateral_params_can_lead_to_liquidate_borro_x_vulnerable.sol" "updating-asset-collateral-params-can-lead-to-liquidate-borro-x"
run_clean_test "updating-asset-collateral-params-can-lead-to-liquidate-borro-x" "updating_asset_collateral_params_can_lead_to_liquidate_borro_x_clean.sol" "updating-asset-collateral-params-can-lead-to-liquidate-borro-x (clean)"
