run_test "updating-fee-factor-may-create-issues-for-the-protocol" "updating_fee_factor_may_create_issues_for_the_protocol_vulnerable.sol" "updating-fee-factor-may-create-issues-for-the-protocol"
run_clean_test "updating-fee-factor-may-create-issues-for-the-protocol" "updating_fee_factor_may_create_issues_for_the_protocol_clean.sol" "updating-fee-factor-may-create-issues-for-the-protocol (clean)"
