run_test "use-of-balanceof-in-fee-calculations-may-lead-to-unfavorable" "use_of_balanceof_in_fee_calculations_may_lead_to_unfavorable_vulnerable.sol" "use-of-balanceof-in-fee-calculations-may-lead-to-unfavorable"
run_clean_test "use-of-balanceof-in-fee-calculations-may-lead-to-unfavorable" "use_of_balanceof_in_fee_calculations_may_lead_to_unfavorable_clean.sol" "use-of-balanceof-in-fee-calculations-may-lead-to-unfavorable (clean)"
