run_test "use-safe-erc20-functions" "use_safe_erc20_functions_vulnerable.sol" "use-safe-erc20-functions"
run_clean_test "use-safe-erc20-functions" "use_safe_erc20_functions_clean.sol" "use-safe-erc20-functions (clean)"
