run_test "use-of-non-standard-erc-677-token-interface-finding-descript-x" "use_of_non_standard_erc_677_token_interface_finding_descript_x_vulnerable.sol" "use-of-non-standard-erc-677-token-interface-finding-descript-x"
run_clean_test "use-of-non-standard-erc-677-token-interface-finding-descript-x" "use_of_non_standard_erc_677_token_interface_finding_descript_x_clean.sol" "use-of-non-standard-erc-677-token-interface-finding-descript-x (clean)"
