run_test "users-of-a-vault-can-steal-other-user-s-rewards-when-one-vau-x" "users_of_a_vault_can_steal_other_user_s_rewards_when_one_vau_x_vulnerable.sol" "users-of-a-vault-can-steal-other-user-s-rewards-when-one-vau-x"
run_clean_test "users-of-a-vault-can-steal-other-user-s-rewards-when-one-vau-x" "users_of_a_vault_can_steal_other_user_s_rewards_when_one_vau_x_clean.sol" "users-of-a-vault-can-steal-other-user-s-rewards-when-one-vau-x (clean)"
