run_test "users-can-evade-the-ydusd-vault-s-withdrawal-timelock-mechanism" "users_can_evade_the_ydusd_vault_s_withdrawal_timelock_mechanism_vulnerable.sol" "users-can-evade-the-ydusd-vault-s-withdrawal-timelock-mechanism"
run_clean_test "users-can-evade-the-ydusd-vault-s-withdrawal-timelock-mechanism" "users_can_evade_the_ydusd_vault_s_withdrawal_timelock_mechanism_clean.sol" "users-can-evade-the-ydusd-vault-s-withdrawal-timelock-mechanism (clean)"
