run_test "user-rewards-can-be-lost" "user_rewards_can_be_lost_vulnerable.sol" "user-rewards-can-be-lost"
run_clean_test "user-rewards-can-be-lost" "user_rewards_can_be_lost_clean.sol" "user-rewards-can-be-lost (clean)"
