run_test "users-cannot-unstake-from-yiedlethstakingetherfi-sol-because-x" "users_cannot_unstake_from_yiedlethstakingetherfi_sol_because_x_vulnerable.sol" "users-cannot-unstake-from-yiedlethstakingetherfi-sol-because-x"
run_clean_test "users-cannot-unstake-from-yiedlethstakingetherfi-sol-because-x" "users_cannot_unstake_from_yiedlethstakingetherfi_sol_because_x_clean.sol" "users-cannot-unstake-from-yiedlethstakingetherfi-sol-because-x (clean)"
