run_test "users-who-have-a-loan-offer-should-have-some-usdc-to-create-a" "users_who_have_a_loan_offer_should_have_some_usdc_to_create_a_vulnerable.sol" "users-who-have-a-loan-offer-should-have-some-usdc-to-create-a"
run_clean_test "users-who-have-a-loan-offer-should-have-some-usdc-to-create-a" "users_who_have_a_loan_offer_should_have_some_usdc_to_create_a_clean.sol" "users-who-have-a-loan-offer-should-have-some-usdc-to-create-a (clean)"
