run_test "users-can-cast-their-votes-multiple-times-for-the-proposal-b-x" "users_can_cast_their_votes_multiple_times_for_the_proposal_b_x_vulnerable.sol" "users-can-cast-their-votes-multiple-times-for-the-proposal-b-x"
run_clean_test "users-can-cast-their-votes-multiple-times-for-the-proposal-b-x" "users_can_cast_their_votes_multiple_times_for_the_proposal_b_x_clean.sol" "users-can-cast-their-votes-multiple-times-for-the-proposal-b-x (clean)"
