run_test "users-may-encounter-losses-on-assets-deposited-through-strat-x" "users_may_encounter_losses_on_assets_deposited_through_strat_x_vulnerable.sol" "users-may-encounter-losses-on-assets-deposited-through-strat-x"
run_clean_test "users-may-encounter-losses-on-assets-deposited-through-strat-x" "users_may_encounter_losses_on_assets_deposited_through_strat_x_clean.sol" "users-may-encounter-losses-on-assets-deposited-through-strat-x (clean)"
