run_test "using-unnecessary-code-16" "using_unnecessary_code_16_vulnerable.sol" "using-unnecessary-code-16"
run_clean_test "using-unnecessary-code-16" "using_unnecessary_code_16_clean.sol" "using-unnecessary-code-16 (clean)"
