run_test "using-agentfactory-setassettoken-will-lead-to-loss-of-funds" "using_agentfactory_setassettoken_will_lead_to_loss_of_funds_vulnerable.sol" "using-agentfactory-setassettoken-will-lead-to-loss-of-funds"
run_clean_test "using-agentfactory-setassettoken-will-lead-to-loss-of-funds" "using_agentfactory_setassettoken_will_lead_to_loss_of_funds_clean.sol" "using-agentfactory-setassettoken-will-lead-to-loss-of-funds (clean)"
