run_test "using-deprecated-chainlink-function" "using_deprecated_chainlink_function_vulnerable.sol" "using-deprecated-chainlink-function"
run_clean_test "using-deprecated-chainlink-function" "using_deprecated_chainlink_function_clean.sol" "using-deprecated-chainlink-function (clean)"
