run_test "using-unnecessary-code" "using_unnecessary_code_vulnerable.sol" "using-unnecessary-code"
run_clean_test "using-unnecessary-code" "using_unnecessary_code_clean.sol" "using-unnecessary-code (clean)"
