run_test "validatorregistry-validatorscore-getpastvalidatorscore-allow-x" "validatorregistry_validatorscore_getpastvalidatorscore_allow_x_vulnerable.sol" "validatorregistry-validatorscore-getpastvalidatorscore-allow-x"
run_clean_test "validatorregistry-validatorscore-getpastvalidatorscore-allow-x" "validatorregistry_validatorscore_getpastvalidatorscore_allow_x_clean.sol" "validatorregistry-validatorscore-getpastvalidatorscore-allow-x (clean)"
