run_test "validators-cannot-be-removed" "validators_cannot_be_removed_vulnerable.sol" "validators-cannot-be-removed"
run_clean_test "validators-cannot-be-removed" "validators_cannot_be_removed_clean.sol" "validators-cannot-be-removed (clean)"
