run_test "variable-naming-could-be-improved-in-lamborebalanceonuniwap--x" "variable_naming_could_be_improved_in_lamborebalanceonuniwap__x_vulnerable.sol" "variable-naming-could-be-improved-in-lamborebalanceonuniwap--x"
run_clean_test "variable-naming-could-be-improved-in-lamborebalanceonuniwap--x" "variable_naming_could_be_improved_in_lamborebalanceonuniwap__x_clean.sol" "variable-naming-could-be-improved-in-lamborebalanceonuniwap--x (clean)"
