run_test "vesttokens-bug-in-multifeedistribution-sol-causes-new-incent-x" "vesttokens_bug_in_multifeedistribution_sol_causes_new_incent_x_vulnerable.sol" "vesttokens-bug-in-multifeedistribution-sol-causes-new-incent-x"
run_clean_test "vesttokens-bug-in-multifeedistribution-sol-causes-new-incent-x" "vesttokens_bug_in_multifeedistribution_sol_causes_new_incent_x_clean.sol" "vesttokens-bug-in-multifeedistribution-sol-causes-new-incent-x (clean)"
