run_test "virtualgenesisdao-sol-earlyexecute-proposals-can-be-executed-x" "virtualgenesisdao_sol_earlyexecute_proposals_can_be_executed_x_vulnerable.sol" "virtualgenesisdao-sol-earlyexecute-proposals-can-be-executed-x"
run_clean_test "virtualgenesisdao-sol-earlyexecute-proposals-can-be-executed-x" "virtualgenesisdao_sol_earlyexecute_proposals_can_be_executed_x_clean.sol" "virtualgenesisdao-sol-earlyexecute-proposals-can-be-executed-x (clean)"
