run_test "voting-can-potentially-be-influenced-via-restaking" "voting_can_potentially_be_influenced_via_restaking_vulnerable.sol" "voting-can-potentially-be-influenced-via-restaking"
run_clean_test "voting-can-potentially-be-influenced-via-restaking" "voting_can_potentially_be_influenced_via_restaking_clean.sol" "voting-can-potentially-be-influenced-via-restaking (clean)"
