run_test "voting-power-of-a-nft-is-not-used-completely-in-the-voterupg-x" "voting_power_of_a_nft_is_not_used_completely_in_the_voterupg_x_vulnerable.sol" "voting-power-of-a-nft-is-not-used-completely-in-the-voterupg-x"
run_clean_test "voting-power-of-a-nft-is-not-used-completely-in-the-voterupg-x" "voting_power_of_a_nft_is_not_used_completely_in_the_voterupg_x_clean.sol" "voting-power-of-a-nft-is-not-used-completely-in-the-voterupg-x (clean)"
