run_test "wellupgradeable-can-be-upgraded-by-anyone" "wellupgradeable_can_be_upgraded_by_anyone_vulnerable.sol" "wellupgradeable-can-be-upgraded-by-anyone"
run_clean_test "wellupgradeable-can-be-upgraded-by-anyone" "wellupgradeable_can_be_upgraded_by_anyone_clean.sol" "wellupgradeable-can-be-upgraded-by-anyone (clean)"
