run_test "whennotpaused-modifier-in-the-cdpvault-can-be-bypassed-by-users" "whennotpaused_modifier_in_the_cdpvault_can_be_bypassed_by_users_vulnerable.sol" "whennotpaused-modifier-in-the-cdpvault-can-be-bypassed-by-users"
run_clean_test "whennotpaused-modifier-in-the-cdpvault-can-be-bypassed-by-users" "whennotpaused_modifier_in_the_cdpvault_can_be_bypassed_by_users_clean.sol" "whennotpaused-modifier-in-the-cdpvault-can-be-bypassed-by-users (clean)"
