run_test "wide-range-short-legs-can-revert-solvency-checks-and-block-l-x" "wide_range_short_legs_can_revert_solvency_checks_and_block_l_x_vulnerable.sol" "wide-range-short-legs-can-revert-solvency-checks-and-block-l-x"
run_clean_test "wide-range-short-legs-can-revert-solvency-checks-and-block-l-x" "wide_range_short_legs_can_revert_solvency_checks_and_block_l_x_clean.sol" "wide-range-short-legs-can-revert-solvency-checks-and-block-l-x (clean)"
