run_test "withdrawal-finalization-does-not-work" "withdrawal_finalization_does_not_work_vulnerable.sol" "withdrawal-finalization-does-not-work"
run_clean_test "withdrawal-finalization-does-not-work" "withdrawal_finalization_does_not_work_clean.sol" "withdrawal-finalization-does-not-work (clean)"
