run_test "withdraw-leads-to-loss-of-stake" "withdraw_leads_to_loss_of_stake_vulnerable.sol" "withdraw-leads-to-loss-of-stake"
run_clean_test "withdraw-leads-to-loss-of-stake" "withdraw_leads_to_loss_of_stake_clean.sol" "withdraw-leads-to-loss-of-stake (clean)"
