run_test "withdrawing-just-before-a-bad-debt-event-can-increase-losses-x" "withdrawing_just_before_a_bad_debt_event_can_increase_losses_x_vulnerable.sol" "withdrawing-just-before-a-bad-debt-event-can-increase-losses-x"
run_clean_test "withdrawing-just-before-a-bad-debt-event-can-increase-losses-x" "withdrawing_just_before_a_bad_debt_event_can_increase_losses_x_clean.sol" "withdrawing-just-before-a-bad-debt-event-can-increase-losses-x (clean)"
