run_test "wrapnativetokeninwallet-always-reverts-on-arbitrum" "wrapnativetokeninwallet_always_reverts_on_arbitrum_vulnerable.sol" "wrapnativetokeninwallet-always-reverts-on-arbitrum"
run_clean_test "wrapnativetokeninwallet-always-reverts-on-arbitrum" "wrapnativetokeninwallet_always_reverts_on_arbitrum_clean.sol" "wrapnativetokeninwallet-always-reverts-on-arbitrum (clean)"
