run_test "wrong-parameter-used-in-revert-message" "wrong_parameter_used_in_revert_message_vulnerable.sol" "wrong-parameter-used-in-revert-message"
run_clean_test "wrong-parameter-used-in-revert-message" "wrong_parameter_used_in_revert_message_clean.sol" "wrong-parameter-used-in-revert-message (clean)"
