run_test "yieldstakingbase-collectfeetotreasury-will-attempt-to-transf-x" "yieldstakingbase_collectfeetotreasury_will_attempt_to_transf_x_vulnerable.sol" "yieldstakingbase-collectfeetotreasury-will-attempt-to-transf-x"
run_clean_test "yieldstakingbase-collectfeetotreasury-will-attempt-to-transf-x" "yieldstakingbase_collectfeetotreasury_will_attempt_to_transf_x_clean.sol" "yieldstakingbase-collectfeetotreasury-will-attempt-to-transf-x (clean)"
