run_test "yieldstakingbase-stake-cannot-append-borrowamount" "yieldstakingbase_stake_cannot_append_borrowamount_vulnerable.sol" "yieldstakingbase-stake-cannot-append-borrowamount"
run_clean_test "yieldstakingbase-stake-cannot-append-borrowamount" "yieldstakingbase_stake_cannot_append_borrowamount_clean.sol" "yieldstakingbase-stake-cannot-append-borrowamount (clean)"
