run_test "unchecked-erc20-transfer-return-values" "unchecked_erc20_transfer_return_values_vulnerable.sol" "unchecked-erc20-transfer-return-values"
run_clean_test "unchecked-erc20-transfer-return-values" "unchecked_erc20_transfer_return_values_clean.sol" "unchecked-erc20-transfer-return-values (clean)"
