run_test "fee-uncapped-in-constructor" "fee_uncapped_in_constructor_vulnerable.sol" "fee-uncapped-in-constructor"
run_clean_test "fee-uncapped-in-constructor" "fee_uncapped_in_constructor_clean.sol" "fee-uncapped-in-constructor (clean)"
