run_test "interface-function-not-in-impl" "interface_function_not_in_impl_vulnerable.sol" "interface-function-not-in-impl"
run_clean_test "interface-function-not-in-impl" "interface_function_not_in_impl_clean.sol" "interface-function-not-in-impl (clean)"
