run_test "redeem-zero-assets-burns-shares" "redeem_zero_assets_burns_shares_vulnerable.sol" "redeem-zero-assets-burns-shares"
run_clean_test "redeem-zero-assets-burns-shares" "redeem_zero_assets_burns_shares_clean.sol" "redeem-zero-assets-burns-shares (clean)"
